[2019-08-27 11:05] waiting-for-dev commented on #76
Which error are you getting? Are you sure your scope is `:json` and not `:user`?

[2019-08-27 11:37] jorgebasilio commented on #76
indeed, it is a type, the scope is: user.

What happens with this, I generate the token in the Authorization header, but, at the time of making a request to a private endpoint (user profile) I send the Authorization token in the header, but, it returns me that I must log in again, I imagine it happens because Token generated to the user was not registered in any way, can this make sense?

[2019-08-27 13:21] waiting-for-dev commented on #76
I assume you are encoding the user through:

[code]

Can you paste here the payload of the generated token (you can get it from here https://jwt.io/#debugger-io) ?

[2019-08-27 14:48] jorgebasilio commented on #76
Yes, I have it exactly as you say.

This is what generated the page: [url](https://jwt.io/#debugger-io?token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiI5Iiwic2NwIjoidXNlciIsImF1ZCI6IkpXVF9BVUQiLCJpYXQiOjE1NjY5MTY3NjQsImV4cCI6MTU2NjkyMDM2NCwianRpIjoiNjIwOWM4MjEtNDkyMC00NTQ0LWFkMWEtMjU5NWEwMjI5NjNhIn0.JXyBIR_LrFP9F2aZdAKjXqmHrFWt_58akf962j9k0o8)

thanks for your attention

[2019-08-27 16:03] waiting-for-dev commented on #76
Ok. Please, submit a new issue with all the required debugging information it demands. I'll be able to help you better.

[2019-09-23 15:52] veeral-patel commented on #126
@njt1982 Did you end up storing the JWT in a cookie? If you could maybe share your sample code, if you have it, I'd really appreciate it!

[2019-09-23 15:54] njt1982 commented on #126
@veeral-patel sorry, no - the code still uses local storage as an "it works, lets fix it later" step... which never got fixed. (It's a personal and unpublished project atm).

[2019-09-23 16:04] veeral-patel commented on #126
@njt1982 No worries. Do you have any suggestions for me for authentication (using Rails API + React SPA) if you shouldn't store JWTs in cookies, due to cross-domain issues?

[2019-09-25 15:31] Subomi opened #149 "Question: How to have an API Controller and a normal Controller in the same rails app"
Hi there, I have question.

I have a rails app, that needs both the conventional rails controller as well as an API. I'm using this gem for the jwt authentication for the API. So here's what I'm doing I created two base controllers

For the API Controller:

    class API::V1::ApiController < ActionController::API
    end

For the conventional controller:

    class ApplicationController < ActionCo

[2019-09-25 16:19] Subomi commented on #149
Update, apparently, warden.authenticate?(:jwt) does not also work.

[2019-09-26 05:39] waiting-for-dev commented on #149
This question is not related to devise-jwt, but anyway warden only understands about scopes, so a scope authentication will go through the cascade of strategies no matter in which request you are.

I see no reason to complicate things without a good reason, but you can create your own strategies and use [`#valid?`](https://github.com/wardencommunity/warden/wiki/Strategies#valid) to check something

[2019-09-27 04:41] #149 closed

[2019-09-27 04:43] Subomi commented on #149
I actually figured it wasn't necessary to do what I wanted with this gem, so I went the manual route. Meaning decoding & encoding jwt's myself etc.

Thanks for your help.

[2019-10-02 14:49] Alagaesia93 commented on #130
Any updates on this?

I don't want to use @rohitbegani solution to send secure token, I wish I could use
`env['warden'].user`
or
`request.env['warden-jwt_auth.token']`

I have a Nuxt.js app which communicates with Rails api app. I want to introduce ActionCable so that background jobs (with Sidekiq) can push info to frontend.

Thank you

[2019-10-06 18:06] sergio-atpco opened #150 "Issue trying to generate new token"
I have a Rails API and I'm writing a test to obtain a new token. Here it is:

[code]
This is hitting the Devise controller: `devise/app/controllers/devise/sessions_controller.rb`. I don't have a custom sessions_controller.rb.

the error I get is:
[code]
I've also tried passing the params as a string:

``
post '/api/accounts/sign_in', params: '{"account": {"email": "joe@me.net", "password": "abcd12

[2019-10-06 20:11] waiting-for-dev commented on #150
Does your controller `respond_to :json`?

[2019-10-06 20:11] waiting-for-dev commented on #150
Please, see https://github.com/waiting-for-dev/devise-jwt/wiki/Configuring-devise-for-APIs

[2019-10-13 13:31] waiting-for-dev commented on #150
Closing for the lack of feedback. Feel free to add more comments if needed.

[2019-10-13 13:31] #150 closed

[2019-10-18 08:29] harsh-kiwitech opened #151 "token not getting generated on swagger API call"
Please, for a bug report fill in the following template. Before that, make sure to read the whole [README](https://github.com/waiting-for-dev/devise-jwt/blob/master/README.md) and check if your issue is not related with [CORS](https://github.com/waiting-for-dev/devise-jwt#model-configuration).

Feature requests and questions about `devise-jwt` are also accepted. It isn't the place for generic ques

[2019-10-18 08:36] harsh-kiwitech commented on #151
Expected behavior:
token should have been generated and stored in white_listed table
Actual behavior:
token is not getting generated and not getting stored in white_listed table
Steps to Reproduce the Problem:
token is getting generated and getting saved in database but when the request is made from swagger, neither the token not getting generated nor getting saved in database.

Request from swagg

[2019-10-18 09:38] #151 closed

[2019-10-19 17:41] omarish commented on #76
I ran into this as well, turns out I didn't have `jwt.dispatch_requests` and `jwt.revocation_requests` in my `config.jwt` block. Adding those fixed it.

`config/initializers/devise.rb`:

[code]

[2019-10-27 08:54] dbachinin opened #152 "I have error "NameError: uninitialized constant User (call 'User.connection' to establish a connection)::Whitelist""
Hi!
I try create test application with JWT-autorization.

I add devise-jwt into Gemfile, then initialise Devise and generate User.
And after I add this line to User model
```  devise :database_authenticatable, :jwt_authenticatable, jwt_revocation_strategy: Whitelist```
And I cant't apply migration now. Because an error appears `NameError: uninitialized constant User (call 'User.connection' to esta

[2019-10-28 15:12] waiting-for-dev commented on #152
For whitelist `self` is the revocation strategy. Please, refer to the README:

https://github.com/waiting-for-dev/devise-jwt#whitelist

[2019-10-30 15:19] A-Boudi opened #153 "Error with JWTBlackList in rails 6"
Hi,

Following the readme file to create a [JWTBlackList](https://github.com/waiting-for-dev/devise-jwt#blacklist) results into an error.

[code]

## Expected behavior
No error.

## Actual behavior
Throws error
[code]
## Steps to Reproduce the Problem

1. Create a new rails app
2. Install Devise
3. Install Devise-jwt
4. Create JWTBlacklist model (jwt_blacklist.rb) and migration
5. Add the followin

[2019-10-30 16:15] waiting-for-dev commented on #153
Hey @A-Boudi , thanks for reporting.

I haven't used Rails for a while. Probably it has changed inference rules in 6.0. What about if you just name the model `JwtBlacklist` instead of `JWTBlacklist`? I guess this way you won't have to downgrade `load_defaults` nor rename the file.

[2019-10-30 18:32] A-Boudi commented on #153
@waiting-for-dev thanks. Renaming the model works fine. I just wanted to raise this issue so the documentation would be updated.

[2019-10-30 18:54] waiting-for-dev commented on #153
Thanks, I will.

[2019-11-08 17:04] #152 closed

[2019-11-08 17:06] waiting-for-dev commented on #153
Sorry, but I can't reproduce the issue. I updated the application that is used in the tests of this library to Rails 6, the model is called `JWTBlacklist` and there is no problem...

https://github.com/waiting-for-dev/devise-jwt/blob/master/spec/fixtures/rails_app/app/models/jwt_blacklist.rb

Am I missing something?

[2019-11-10 11:09] A-Boudi commented on #153
The issue happens when the `JWTBlacklist` model is called from the `User` model for the `jwt_revocation_strategy` parameter.

Here is the code sample that replicate this issue:
https://github.com/A-Boudi/devise-jwt-issue

[2019-11-10 13:14] r4mbo7 commented on #130
I didn't manage to manually decode a token with [UserDecoder](https://github.com/waiting-for-dev/warden-jwt_auth/blob/master/lib/warden/jwt_auth/user_decoder.rb)...
[code]
I have the following error
[code]
What I am missing?
Thanks.

[2019-11-11 14:26] waiting-for-dev commented on #130
Have you configured a revocation strategy for your scope?

[2019-11-11 15:14] waiting-for-dev commented on #153
I can reproduce the issue in your repo, but it's strange because it doesn't happen in the fixture app:

https://github.com/waiting-for-dev/devise-jwt/blob/master/spec/fixtures/rails_app/app/models/jwt_with_blacklist_user.rb#L5

[2019-11-11 15:26] #153 closed

[2019-11-11 15:28] waiting-for-dev commented on #153
Ok, it is because of `config.load_defaults`, which in the fixture app are not set to 6.0. I'll upgrade the fixture app when I find the time or someone submits a PR. About the documentation, it is fixed in master. Thanks for reporting.

[2019-11-19 20:26] aonomike commented on #153
I have this same problem, I have tried to resolve by installing my gem from git as below
[code]
This still did not resolve, anything I am missing maybe?

[2019-11-19 21:27] aonomike commented on #153
Thanks guys, this works for me on rails 6.

[2019-11-21 16:04] hariharan888 commented on #140
@waiting-for-dev Today I could reproduce the error and I was able to narrow it down to the place which causes the bug
[code]
Just commenting this `create` method in `sessions_controller.rb` resolves the bug. When we try to override the default `create` method of `devise`, the authentication header is not attached.

Can we do something about this?

[2019-11-21 16:15] waiting-for-dev commented on #140
During devise dfault sign in process, it ends up [calling warden](https://github.com/plataformatec/devise/blob/master/lib/devise/controllers/sign_in_out.rb#L53) in order to authenticate the user. Overriding the controller as you do, you are not using devise controller layer anymore, so neither warden http layer, which is the responsible of calling some hooks that will eventually set the JWT token

[2019-11-21 16:28] hariharan888 commented on #140
@waiting-for-dev yes you are right. Looking at older issues and found #76.
That solution worked for me.

It would be helpful if this info is available in the documentation.

[2019-12-07 18:46] gathuku commented on #56
Am using Devise package to implement a JWT strategy with warden . How can i be able to resolve this error. Only appear when i host in heroku but locally works fine. I have confirmed `SECRET_KEY_BASE` is added in heroku env variables

[2019-12-07 20:46] gathuku commented on #56
This `secret_key` is used to encode and decode JWT paylod. Incase anyone is having issues not only with this gem. Ensure the key is not nill, You could use rails `secret_key_base`.
[code]

[2019-12-09 22:56] pivotal-pmital opened #155 "Don't generate JWT on sign-in"
I am trying to give users more control over when jwts are created and destroyed.

I saw the configuration for `config.jwt.dispatch_requests` where I can dispatch jwt requests on custom routes. However, I was wondering if there is a way to disable dispatch requests on sign-in because I don't want the jwt to invalidated/overwritten due to a new sign-in.

At the same time, I was wondering if there is

[2019-12-10 15:28] waiting-for-dev commented on #155
`devise-jwt` [pushes sign-in/sign-out routes](https://github.com/waiting-for-dev/devise-jwt/blob/master/lib/devise/jwt/railtie.rb#L12) in an `after_initialize` block. If I'm not wrong, you can override it using your own `after_initialize`. For example, to have no configured routes:

[code]

[2019-12-11 15:14] pivotal-pmital commented on #155
Ooo that's nice! That worked nicely. Thanks a lot! :D

[2019-12-11 15:44] waiting-for-dev commented on #155
Happy that it works :smile:

[2019-12-11 15:44] #155 closed

[2019-12-13 19:27] jkallay1 commented on #80
We have a use case where we need to proxy some requests to a second service that will want to validate the auth tokens but not issue them. Asymmetric encryption would be nice so that we don't have to share the signing secret between the two services.

[2019-12-14 03:44] Mei152 commented on #47
Hello,

I am trying to set up this gem for two models, `user`, and `api_user`. User will use regular Devise authentication, and api_user will use use jwt with the whitelist strategy.  I have the log in for api_user working, and it returns a jwt in the auth header, and creates a record in the whitelisted_jwts table. When api_user logs out, the whitelisted jwt is not deleted. The other bigger issue

[2019-12-15 01:58] Mei152 opened #156 "Signature verification raised"
Hello,

I realize this is not a help forum, but I have exhausted all efforts to figure out if my issue is caused by my own ignorance.

I am trying to set up this gem for two models, `user`, and` api_user`. `user` will use regular Devise authentication, and `api_user` will use jwt with the whitelist strategy. I have the log in and log out for `api_user` working. The issue is that a get request for

[2019-12-15 19:34] Mei152 commented on #156
Can't say for sure what fixed my issue.  I tried many, many things.  All I can say is that everything works at the moment. Sorry if I troubled anyone.

[2019-12-16 17:40] waiting-for-dev commented on #156
No worries. Feel free to post here any doubt you have in regard of `devise-jwt` usage.

[2019-12-16 17:42] waiting-for-dev commented on #80
Hey @jkallay1 . I'm not against supporting it. However, right now I don't have the time nor need to implement it. I can provide support to anybody willing to work on this. It shouldn't be too difficult.

[2019-12-16 20:28] Mei152 commented on #156
Thank you.  Great gem.  It solves my use case perfectly!

[2019-12-19 04:31] Mei152 commented on #156
I have all the functionality for whitelisted strategy working properly but ran into an issue writing tests for edge cases. When a  request is sent to an action protected with `before_action :authenticate_api_user!`, and the token has been tampered with, the application blows up with an `JWT::DecodeError`.  We should be able to handle `JWT::DecodeError`s gracefully.

The error is raised at this poi

[2019-12-20 01:09] Mei152 commented on #156
FYI, I noticed the following in the rails log when signing out an api_user:
`Filter chain halted as :verify_signed_out_user rendered or redirected`

I did some Googling, which guided me to add the following to my `ApiUsers::SessionsController`:
`skip_before_action :verify_signed_out_user , only: :destroy`

Now the `puts` statement in the destroy action shows up in the log, but the rescue still doe

[2019-12-20 11:07] waiting-for-dev commented on #156
Hey @Mei152 . If you are getting the `puts` but not getting to the `raise`, probably you are not having those exceptions... Please, open a new issue filling up the template with all the debugging information so that it is easier to help you. Thanks!

[2019-12-20 11:07] #156 closed

[2019-12-28 13:39] Mracobes9 opened #157 "jwt with refresh token"
Hi. Do you library have option to use refresh token for refresh acess token ?

[2019-12-29 07:43] waiting-for-dev commented on #157
Hi, please see this comment for details:

https://github.com/waiting-for-dev/devise-jwt/issues/7#issuecomment-322115576

[2019-12-29 07:43] #157 closed

[2020-01-16 13:46] UICJohn commented on #130
Hi there, you need to replace 'user' with :user. Then things is going to work

[2020-01-20 22:04] jackpope commented on #3
I am trying to use this solution to create a token refresh endpoint. If users tokens are near expiration, this endpoint will automatically be hit in order to keep them signed in. I am successfully getting back a new token, but when I put that in the Authorization header for the next request it doesn't authenticate.

Endpoint code:

[code]

How is a User record associated with a token?

[2020-01-21 06:19] waiting-for-dev commented on #3
Second argument of `#call` is devise scope. Probably it's `:user`. But keep in mind that this library is not intended to provide refresh tokens and that probably you'd be better off with something like OAuth2.

[2020-01-28 05:41] jean182 opened #158 "Expiration time not setting up properly"
Hi I'm using Blacklist revocation and I noticed on the FE that my jwt token is not returning the exp value that I'm setting in the devise.rb initializer

## Expected behavior

Use the actual `jwt.expiration_time`

## Actual behavior

Uses this expiration time: 1580188973

## Steps to Reproduce the Problem

1. Send a post request to `sessions#create` route
2. Check the authorization header
3. Test

[2020-01-28 06:45] waiting-for-dev commented on #158
I think everything is correct. You configure the number of seconds from the issuing time you want your token to be valid. The token `exp` claim returns the time in UNIX epoch time when the token will expire. In you example, you are configuring 3600 seconds, that's an hour, and it's going to expire on 1580188973 unix seconds, which is today at 5:22 AM. You can check it yourself at https://www.unixt

[2020-01-29 20:02] jean182 commented on #158
Yes I tried to set up to 20 seconds in the expiration time like this ` jwt.expiration_time = 20.seconds.to_i` to test my frontend and I was wondering if I need to clear cache or do something else to see the changes reflected.

[2020-01-30 12:27] khushwanth commented on #121
can you please elaborate on this?

[2020-02-03 14:02] waiting-for-dev commented on #158
You don't need to do anything else.

So it seems it's working, isn't it?

[2020-02-16 09:30] rezam90 opened #159 "undefined method `symbolize_keys' for Warden::JWTAuth:Module (NoMethodError)"
Please, for a bug report fill in the following template. Before that, make sure to read the whole [README](https://github.com/waiting-for-dev/devise-jwt/blob/master/README.md) and check if your issue is not related with [CORS](https://github.com/waiting-for-dev/devise-jwt#model-configuration).

Feature requests and questions about `devise-jwt` are also accepted. It isn't the place for generic ques

[2020-02-16 15:00] Mansh05 opened #160 "undefined method `symbolize_keys' for Warden::JWTAuth:Module (NoMethodError"
## Expected behavior
In rails

in Gemfile
[code]
bundle install
rails s
and it should be running as good as possible

In normal ruby
gem install devise-jwt
irb

true

true

## Actual behavior
1. In Rails

[code]

2. In ruby

[code]

## Steps to Reproduce the Problem
A.
1.  add devise and devise-jwt in rails
2. run bunlde install, runs good but when running rails s gives devise-jwt load error with

[2020-02-16 15:09] Mansh05 commented on #159
Saw this after posting it myself, I have provided more details [here](https://github.com/waiting-for-dev/devise-jwt/issues/160). If anyone could help.

[2020-02-16 18:43] Mansh05 commented on #160
The error comes when we upgrade the gem dry-configurator from 0.9.0 to 0.11.0 which comes with dry/equilizer. So make sure to keep your dry-configurator below 0.9.0

[2020-02-16 20:04] Sartori-RIA commented on #160
same problem here

[2020-02-17 06:17] waiting-for-dev commented on #159
For now lock you dry-configurable version to 0.9. I'll take a look as soon as possible.

[2020-02-18 07:39] rodrigoalvesvieira opened #162 "Disable authorization header assignment"
Hi. Is there a way to disable the assignment of the authorization header on login?

[2020-02-18 08:22] waiting-for-dev commented on #162
No, but if you don't configure it it would have no effect in your code.

[2020-02-18 15:20] pohl989 commented on #160
@Mansh05 Thank you! I added this to my gemfile and everything is working now

`gem 'dry-configurable', '0.9.0'`

[2020-02-20 10:38] serghost commented on #160
A few more related errors for future seekers:

`#<ArgumentError: +mappings+ is not a setting name>`
`+secret+ is not a setting name`

Also solved by downgrade to 0.9.0

[2020-02-20 13:30] waiting-for-dev commented on #158
Closing because the lack of feedback. Feel free to add more comments if needed.

[2020-02-20 13:30] #158 closed

[2020-02-20 13:40] waiting-for-dev commented on #160
For now lock you dry-configurable version to 0.9. I'll take a look as soon as possible.

[2020-02-21 18:34] rodrigoalvesvieira commented on #162
@waiting-for-dev got it! Thanks

[2020-02-21 18:34] #162 closed

[2020-02-23 07:20] waiting-for-dev commented on #160
Duplicate of #169. The issue has been fixed, check there for details.

[2020-02-23 07:21] #160 closed

[2020-02-23 07:22] waiting-for-dev commented on #159
Fixed. It was a regression in dry-configurable and it has been fixed there. I've released v0.4.1 of warden-jwt_auth (which is the core engine for devise-jwt) depending on a version at least equal that the one containing the fix. So, in order to fix it for devise-jwt users, you just need to update warden-jwt:

[code]

[2020-02-23 13:27] waiting-for-dev commented on #159
Hold on, there're still some issues to be resolved. So keep with the version of dry-configurable locked. I'll report on news.

[2020-02-24 08:53] thubamamba commented on #153
I am facing this error and have no ida how to rectify it.

![Screenshot 2020-02-24 at 10 52 56](https://user-images.githubusercontent.com/22769109/75138848-e3604400-56f3-11ea-98e4-53b5231521e8.png)

[2020-02-24 09:30] waiting-for-dev commented on #153
It's related with #159. I'm currently working to fix it. For now, lock "dry-configurable" dependency to 0.9 in your Gemfile and you'be safe

[2020-03-01 00:22] seifoueddine opened #163 "Error when generate jwt_blacklist model in rails 5.2.4 !"
I want to create an API rails application and adding authentication using DEVISE and JWT

I'm using :
    Windows 8.1
    ruby 2.6.5p114
    rails 5.2.4
    devise-jwt (0.5.9)
    devise 4.7.1

When I want to create the model for JWT using this command

    `rails g model Jwt_blacklist jti:string:index exp:datetime`

I have this error

  `C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/warden-jwt_auth-0.3.

[2020-03-01 06:44] waiting-for-dev commented on #163
Duplicated of https://github.com/waiting-for-dev/devise-jwt/issues/159

For now, you can fix it by locking dry-configurable gem version to 0.9 in your Gemfile

[2020-03-01 06:44] #163 closed

[2020-03-01 10:19] seifoueddine commented on #163
I relay make dry-configurable gem in 0.9 version but I still have the problem!

[2020-03-02 16:07] marclennox commented on #159
Still seeing the following error when I don't freeze dry-configurable

[code]

[2020-03-18 02:17] Ryuday commented on #159
Well I'm new to ruby ​​on rails, however in my case you can fix that error by replacing the file
gems > warden-jwt_auth-0.4.1 > lib > warden > jwt_auth.rb

value by [['POST', %r{^/login$}]] in:

    52  setting(:dispatch_requests, []) do |value|
    53    upcase_first_items(value)
    54  end

and value by [['DELETE', %r{^/logout$}]] in:

    63  setting :revocation_requests, [] do |value|
    64

[2020-03-18 14:11] hvenables opened #164 "Using included to add class methods"
Its more a query than an issue but in `lib/devise/jwt/revocation_strategies/jti_matcher.rb` you create a module include activesupport::concern and then use and included do block to include class methods.

My query is why dont you use the class_methods do block? I have a use where i need to perform an action when `revoke_jwt` is called but cant call super in the current set up?

This is a small rep

[2020-03-18 14:37] waiting-for-dev commented on #164
It is because `class_methods` is not supported in rails < 4.2, and I thought it would have no difference in behavior. Changing it now might mean backward incompatibilities issues for some users. Anyway, what about using a [warden callback](https://github.com/wardencommunity/warden/wiki/Callbacks) for your use case?

[2020-03-18 15:09] hvenables commented on #164
Thats a good point i will investigate the warden callbacks thanks for the quick response.

I have put the pre rails 4.2 life behind me lol

[2020-03-18 15:10] #164 closed

[2020-03-18 16:56] waiting-for-dev commented on #164
Yeah... we could consider changing it for the `1.0` version of this gem...

[2020-03-19 09:54] waiting-for-dev commented on #159
As it's taking longer than expected to be fixed upstream in dry-configurable, I have released a new version of warden-jwt_auth 0.4.2 which locks itself dry-configurable version. This way, once it's updated there I'll just release a new version and it'll be transparent for the user.

So, to fix it when using devise-jwt, just run `bundle update --source warden-jwt_auth`

[2020-03-19 09:54] #159 closed

[2020-03-19 09:55] waiting-for-dev commented on #163
As it's taking longer than expected to be fixed upstream in dry-configurable, I have released a new version of warden-jwt_auth 0.4.2 which locks itself dry-configurable version. This way, once it's updated there I'll just release a new version and it'll be transparent for the user.

So, to fix it when using devise-jwt, just run `bundle update --source warden-jwt_auth`

[2020-03-19 09:55] waiting-for-dev commented on #160
As it's taking longer than expected to be fixed upstream in dry-configurable, I have released a new version of warden-jwt_auth 0.4.2 which locks itself dry-configurable version. This way, once it's updated there I'll just release a new version and it'll be transparent for the user.

So, to fix it when using devise-jwt, just run `bundle update --source warden-jwt_auth`

[2020-03-19 20:34] cumanachao opened #165 "Issue setting aud_header to the token"
## Expected behavior
Expected aud claim to be set to the issued token

## Actual behavior
No aud header present on the issued token
## Steps to Reproduce the Problem
I added the `aud_header` as the readme says so.
This is the actual config that I have
[code]
The token is issued just fine but the `aud` claim is not present, as you can see on the following token:
![image](https://user-images.githubu

[2020-03-20 06:14] waiting-for-dev commented on #165
The `aud` claim will contain the value of the configured `aud_claim` request header. If it's null, probably your request doesn't contain such a `STUDENT` request header. If it's not the case, please, paste an example request.

[2020-03-20 13:15] cumanachao commented on #165
Just checked a reverse proxy I'm using and it seems that the header wasn't being forwarded. Sorry for bothering you. My mistake 😅

Closing the issue.

[2020-03-20 13:15] #165 closed

[2020-03-24 11:37] alainkp opened #167 "JTI Claim is different from user.jti column (use JTIMatcher)"
Hello,

I'm not sure if I understand the JTIMatcher revocation strategy, but the README state the following :

The 1st point seems to not work properly in my project. The 2nd and 3rd points are OK.
Every time I fire a login request a new JTI claim is generated in the dispatched JWT, but it is not saved on the user model on the jti column. So when I use the received JWT, devise and devise JWT canno

[2020-03-25 06:45] waiting-for-dev commented on #167
Thanks for your detailed report @alainkp

I think the problem is that you're overwriting `#jwt_payload` method in the user model. You are just calling super (which returns a hash with the `jti` claim from the revocation strategy), but you're not merging its content in. Try with:

[code]

[2020-03-25 10:41] alainkp commented on #167
Marc, Thanks you for you quick answer. Your solution work as expected! Awesome gem :)

Just to be sure to understand the JTIMatcher revocation strategy, the workflow seems to be a little bit different than the one described in the README:

* On token dispatch, jti claim is filled with `user.jti` from the DB and it is not generated on token creation, thus `user.jti` is not persisted on login.
* So

[2020-03-25 16:29] waiting-for-dev commented on #167
Yeah, `jti` is taken from the model on token creation/dispatch and added to the payload

Right

You're right, the README was not clear enough. I fixed it.

[2020-03-25 22:06] alainkp commented on #167
Great thank you for the confirmation :) I close the issue.

[2020-03-25 22:06] #167 closed

[2020-03-25 22:59] andrew-oko-odion commented on #56
How did you fix this?

[2020-03-26 06:24] gathuku commented on #56
@andrew-oko-odion  Have you tried above solutions?

[2020-03-26 06:42] andrew-oko-odion commented on #56
Yes, but they don't work

On Thu, Mar 26, 2020, 7:25 AM Moses Gathuku <notifications@github.com>
wrote:

[2020-03-26 07:19] gathuku commented on #56
Which rails version?
could you try.
[code]

[2020-03-26 07:48] andrew-oko-odion commented on #56
The above is what I did but it did not work
My rails version is Rails 6.0.2.2

On Thu, Mar 26, 2020, 8:19 AM Moses Gathuku <notifications@github.com>
wrote:

[2020-03-26 07:59] gathuku commented on #56
@andrew-oko-odion  Reach me on discord with username `gathuku#2325`

[2020-03-29 00:55] akashagarwal7 commented on #56
Hi @gathuku, can I reach you out too?

[2020-03-29 00:56] akashagarwal7 commented on #56
Hi @gathuku, can I reach out to you too on discord?

[2020-03-29 06:16] akashagarwal7 commented on #56
[code]

Same issue for me, using rails 6.0.2.2, latest `devise-jwt` and `devise`. I have set the `jwt.secret` in devise initialiser using dotenv and can view that environment variable in rails console. Here's the stay trace:

[code]

Where could I be possibly going wrong? Would much appreciate any help on this!

[2020-03-29 10:26] gathuku commented on #56
Yeah feel free

On Sun, Mar 29, 2020 at 3:56 AM Akash Agarwal <notifications@github.com>
wrote:

[2020-03-29 11:44] chibuezeayogu commented on #56
@akashagarwal7 can you share the code or the line causing the error?

[2020-03-29 18:04] danielgarciagil commented on #56
Hello, i have the same errors,

Hello, i have the same error, when i do login with correct credentials trigger the error

[2020-03-29 18:53] simbon93 commented on #56
Same issue here ✋

- Rails 6.0.2.2
- latest `devise` and `devise-jwt`
- `DEVISE_JWT_SECRET_KEY` is set  correctly in `devise.rb` initializer
- same stack trace

Last month I set up a project with same `devise` and `devise-jwt` version and everything was fine.
Any help would be appreciated.

[2020-03-30 05:38] waiting-for-dev commented on #56
Try running:  `bundle update --source warden-jwt_auth`

[2020-03-30 23:34] paulgaumer opened #168 "Error `You need to sign in or sign up before continuing` on user sign_in from the browser"
## Expected behavior

I am building an app with a Rails 6 API and a NextJS front-end.
I want to retrieve the user Bearer token on user sign_in from the client (NextJS)

## Actual behavior

I get the error message `error: You need to sign in or sign up before continuing` on user sign_in or sign_up from the client (NextJS)

## Steps to Reproduce the Problem

I actually followed this tutorial (withou

[2020-03-31 06:04] waiting-for-dev commented on #168
Probably you need to configure your application to [respond to json](https://github.com/waiting-for-dev/devise-jwt/wiki/Configuring-devise-for-APIs#responding-to-json).

[2020-03-31 06:53] paulgaumer commented on #168
Thanks Marc. It should already be the case

Here is my application_controller.rb
[code]

[2020-03-31 07:40] waiting-for-dev commented on #168
By default devise controllers inherit from `ApplicationController`, but you can change it with `parent_controller` configuration option.

[2020-03-31 07:40] waiting-for-dev commented on #168
https://github.com/heartcombo/devise/blob/master/lib/devise.rb#L234

[2020-03-31 13:10] paulgaumer commented on #168
So I tried changing my devise.rb with this
[code]
But then I get a `ActionController::RoutingError (uninitialized constant DeviseController)` error

The thing is that I do also have a sessions_controller.rb as follows. And without modifying anything in devise.rb, the API gives me good responses in Postman.
[code]

Not sure why Postman works but not the browser.

[2020-03-31 13:37] waiting-for-dev commented on #168
You should set `ActionController::API`, if I'm not wrong

Are you setting `Accept` header to `application/json` in your browser?

[2020-03-31 15:51] tashi-179 commented on #168
Are you able to solve this issue?

I have also encountered similar problem  and has to struggle to get the solution.
The solution is very simple, when you `sign_in` or `sign_out` avoid sending `Authorization` header.

[2020-03-31 15:55] tashi-179 commented on #168
You can reproduce similar problem if you send `Authorization` header when you `sign_in` in postman.

[2020-03-31 15:58] paulgaumer commented on #168
Thanks @waiting-for-dev and @tashi-179 , I was able to fix it.
It was a mix of bad syntax in my request headers and CORS issues on the Rails side. Thanks for the support and the gem 🙏

[2020-03-31 15:58] #168 closed

[2020-04-01 08:16] MutatedBread commented on #131
Did anyone got current_scope working? I am getting nil all the time despite there is an Authorization field with Bearer token in the header.

[2020-04-10 14:45] arpu commented on #56
with ``Rails.application.credentials.secret_key_base``` all works fine on latest stack

[2020-04-11 19:01] arun057 commented on #56
With Rails 6 you have to access they keys with `config`

e.g: `Rails.application.credentials.config[:secret_key_base]`

[2020-04-15 23:11] b0ric commented on #80
I also find this important and vote it. For example, if we'd like to offload token validation to API Gateway we'd rather use RS256 or other asymmetric option.

[2020-04-22 23:52] arimendelow opened #172 "no implicit conversion of nil into String caused by update to 'dry' gem"
##  Expected behavior
Gem works as expected

## Actual behavior
Somewhere in `tokenizable`, the following error is thrown:
`no implicit conversion of nil into String`

I see from other issues that this is a common error when the JWT secret isn't set. However, mine is set and I am able to access it in the env variables.

## Steps to Reproduce the Problem

1. Run bundle update
2. Attempt to authenti

[2020-04-23 05:57] waiting-for-dev commented on #172
Have you tried running `bundle update --source warden-jwt_auth`?

[2020-04-23 17:40] arimendelow commented on #172
Yup. I'm already on the latest version of that gem. The problem persists.

[2020-04-24 05:01] waiting-for-dev commented on #172
I thought it was solved. Lock `dry-configurable` version in the meantime.

[2020-04-24 05:04] waiting-for-dev commented on #172
But it seems no possible... can you double check which `warden-jwt_auth` version do you have in your Gemfile? Currently it's locking `dry-configurable` to less than `0.11` but it seems you have `0.11.5`.

[2020-04-24 05:09] arimendelow commented on #172
Sounds good!

From my Gemfile.lock:

`warden-jwt_auth (~> 0.3.6)`

I'm not sure, all I did was run `bundle update`. I don't know why the lock didn't hold.

[2020-04-24 05:52] waiting-for-dev commented on #172
Update to latest version of devise-jwt first, then updating warden-jwt_auth will lead you to 0.4.2, where it's resolved.

[2020-04-24 19:29] rafarubert commented on #56
My project broken if use gem attribute_normalizer ,remove this and try run

[2020-04-29 21:38] arpu commented on #172
still get this problem
[code]

Using warden 1.2.8
Using devise 4.7.1
Using dry-core 0.4.9
Using dry-configurable 0.9.0
Using dry-container 0.7.2
Using dry-auto_inject 0.7.0
Using jwt 2.2.1
Using warden-jwt_auth 0.4.2
Using devise-jwt 0.6.0 from https://github.com/waiting-for-dev/devise-jwt (at master@007d176)

ruby 2.7.1p83 (2020-03-31 revision a0c7c23c9c) [x86_64-linux]

[2020-04-29 21:52] arpu commented on #172
sorry for the noise found my problem
1. delete old token in localStore
2. create new credentials
with
```EDITOR="nano" bundle exec rails credentials:edit```

[2020-05-03 09:09] yammusic commented on #172
I have the same problem, I am using the same gem versions and I have already deleted and created new credentials but it still doesn't work.

Any suggestions?, Thanks

[2020-05-04 08:25] redline-gh opened #173 "Of the 10 Devise Modules, which are supported with the `devise-jwt` gem?"
Of the 10 Devise Modules:

- Database Authenticatable
- Omniauthable
- Recoverable
- Registerable
- Rememberable
- Trackable
- Timeoutable
- Validatable
- Lockable

Which are supported with the `devise-jwt` gem? For example, can a jwt token be rememberable? ie: If the user checks a "remember me" box, the token will be persisted for longer than if it was unchecked.

[2020-05-04 15:55] waiting-for-dev commented on #173
This library just provides with another authorization strategy (see [Warden strategies](https://github.com/wardencommunity/warden/wiki/Strategies), devise is build on top of it), so it will play well with other strategies only when it makes sense. About "remember me", it works through a cookie. If you are using cookies there's no need to use jwt tokens for authorization. As I said, `devise-jwt` do

[2020-05-07 00:27] MmKolodziej commented on #56
Facing the same issue with the latest stack. Setting `jwt.secret` to any string -- literal, taken from ENV, from Rails secrets does not resolve it.
Versions of a few things that _might_ be related:
Ruby 2.7.1
Rails 6.0.3
warden-jwt_auth (0.4.1)
jwt (2.2.1)
dry-configurable (0.11.5)

I keep getting
[code]
I've updated Rails from 6.2.2, played a bit with `dry-configurable` version, but without luck.

[2020-05-07 01:07] MmKolodziej commented on #56
Just in case somebody hits this issue, instead of this one https://github.com/waiting-for-dev/devise-jwt/issues/172. Update `warden-jwt_auth` to at least `0.4.2`.

[2020-05-08 05:45] #173 closed

[2020-05-08 05:46] waiting-for-dev commented on #172
@yammusic please if it persists open a new issue with all requested debugging information. Thanks.

[2020-05-08 05:46] #172 closed

[2020-05-13 12:58] enkhtulga commented on #56
Any update for `rails 6.0.3`?

[2020-05-16 09:42] leesus opened #174 "Refreshing token on every request to a given route"
I am looking to refresh a token on every request to a given route. It looks like this should be supported as per your response in https://github.com/waiting-for-dev/devise-jwt/issues/88. However, the token revocation is happening and then logging out my user, rather than just resetting the token. Is some further manual setup required besides the following?
[code]
Thanks

[2020-05-17 16:48] ukazap commented on #7
@such @waiting-for-dev Would it be possible to change tokens at every authenticated request and implement batching of requests within a time buffer [this](https://devise-token-auth.gitbook.io/devise-token-auth/conceptual)?

[2020-05-18 05:16] waiting-for-dev commented on #174
You have to get the new token from the response headers.

[2020-05-18 05:23] waiting-for-dev commented on #7
Is possible to dispatch tokens at every request and, instead of revoking them, configuring a short enough expiration time so that it can still be used for an immediate second request. However, you can't span the lifetime of the token depending on how incoming requests are coming.

[2020-05-18 08:46] leesus commented on #174
I am passing the new token I receive in the response headers, but on the next request the user is logged out. When decoding the new JWT manually, I can see that the JTI doesn't match that of the user in the database. Is the encoding of the JWT happening before the revocation of the JTI?

For completeness, this is what is happening:
1. POST /users/sign_in returns Token A
2. POST /graphql with Token

[2020-05-19 12:18] leesus commented on #174
It turns out this works if we don't include the endpoint in the revocation requests, only the dispatch requests.

[2020-05-19 12:18] #174 closed

[2020-05-20 18:56] trevorrjohn opened #175 "Conditional Sign Out Request"
I have a feature where I want to conditionally lock an account and sign out a user. I am wondering what the best way to conditionally set the response authorization token or even for that matter conditionally sign out the user.

This is what I have so far, it works, but it doesn't feel right. Curious what your thoughts are.

[code]

It just feels strange that the token is set and then I have to un

[2020-05-22 07:45] waiting-for-dev commented on #175
You can create a [custom revocation strategy](https://github.com/waiting-for-dev/devise-jwt#custom-strategies). Then, in `#revoke_jwt` you can just do nothing when you don't want to revoke the user.

[2020-05-23 15:23] trevorrjohn commented on #175
Hmm ok I will have to take a look. My issue there is that my user lock is a separate database record, so now every time this method is called I have to make another request to the DB. Where if it was somehow linked to the controller, I have the full context there.

[2020-05-23 17:07] waiting-for-dev commented on #175
Maybe you can add something in the token payload and take advantage of it to avoid some database call later, but keep in mind information can be staled if it changes but a dispatched token keeps being valid. Otherwise you can manually work with the [token revoker](https://github.com/waiting-for-dev/warden-jwt_auth/blob/master/lib/warden/jwt_auth/token_revoker.rb) from your controller.

[2020-06-02 00:29] KyleRAnderson commented on #130
Would [this solution](https://gist.github.com/PanosCodes/59c28bbb2a7f931d5fdc8a1c202e1da3#file-connection-rb) work and be considered valid? Found it on [this article](https://dev.to/panoscodes/get-the-current-user-in-actioncable-4d9b).

[2020-06-09 17:38] fatpig0416 opened #179 "checking Authorization header when request signin with email and password."
First of all, I'd like to thank you for this package.
My current issue is that I cannot signin with devise.
This works perfectly first time, but after I added namespace Api::V1, it stopped working.
When I was trying to signin[POST], I got following response:
`"error": "You need to sign in or sign up before continuing."`
I think it checks the `Authorization` header even for signin request.
P.S.
I u

[2020-06-11 15:01] waiting-for-dev commented on #179
Hey @fatpig0416 , the way warden (the engine under devise) works is by trying to authenticate a user through a cascade of strategies. When one of them succeeds the user is authenticated, and a single strategy can't deny a user by itself if another strategy is granting access. In a sign in, when a token is not sent, devise-jwt will deny access, but devise's own `:database_authenticatable` strategy

[2020-07-11 07:30] waiting-for-dev commented on #179
Closing because the lack of feedback. Feel free to add more comments if needed.

[2020-07-11 07:30] #179 closed

[2020-07-11 07:30] waiting-for-dev commented on #175
Closing but feel free to add more questions if needed.

[2020-07-11 07:30] #175 closed

[2020-07-13 04:22] moa-novae commented on #126
I just started reading about this recently, so correct me if I am wrong. Wouldn't storing the JWT token in a cookie and signing API requests with an Authorization header be susceptible to xss? since they can read contents of a non-httponly cookie

[2020-07-13 17:39] sdeluc1 opened #181 "Token dispatch for GraphQL Ruby login"
I have a Rails API using `graphql-ruby` (https://github.com/rmosolgo/graphql-ruby) and have recently started to implement authentication with `devise-jwt`. I'd like to be able to dispatch a token when login happens through a GraphQL mutation, but I'm running into some issues because the endpoint for all GraphQL requests is `POST /graphql`, which I added to the `dispatch_requests` array in the `dev

[2020-07-13 21:45] Petercopter opened #182 "Runtime Error On Code Change"
## Expected behavior
Request returns JWT in header

## Actual behavior
500 Error
[code]

## Steps to Reproduce the Problem
This appears to be coming from the upgrade to `0.8.0`. Maybe I should have opened this on `warden-jwt_auth`, because that's where it appears to be coming from. If I lock my versions, it works.
[code]

1. Start the server
2. Make a request
3. Change some Ruby code
5. Make anoth

[2020-07-16 14:43] waiting-for-dev commented on #182
It doesn't seem to be an error here. This error comes from devise, which we aren't monkey patching in any way. Have you tried if this issue fixes your use case?: https://github.com/heartcombo/devise/issues/4580

[2020-07-16 15:03] waiting-for-dev commented on #181
I don't think so.

TBH I wasn't aware of this configuration on `:after_set_user` hook. I guess that changing it is working for you because you have your session enabled, right? But then you should be aware of the [token storage caveat](https://github.com/waiting-for-dev/devise-jwt#session-storage-caveat).

Not related, but if you're not using devise at all, you could make it work just with [`warde

[2020-07-16 19:11] rhiroshi opened #183 "current_user.is_a?(User) returning false"
## Expected behavior

 current_user.is_a?(User) returning true when using jwt or session

## Actual behavior

 current_user.is_a?(User) returns false when using jwt but true on session

## Steps to Reproduce the Problem

 same as #182
 - Log in.
Any requests will return true on current_user.is_a?(User) for now
 - Change code and save
All requests will return false on current_user.is_a?(User) from

[2020-07-24 19:36] krishnakumar03 opened #184 "Getting Expected a different algorithm while login"
## Expected behavior
Login success

## Actual behavior
Getting 401 Unauthorized with error message 'Expected a different algorithm'

## Steps to Reproduce the Problem

1. install devise and devise-jwt
2. mount jwt_authenticatable, jwt_revocation_strategy: JwtBlacklist

Note: If I remove `jwt_authenticatable, jwt_revocation_strategy: JwtBlacklist` then devise `database_authenticatable` is working c

[2020-08-08 07:38] waiting-for-dev commented on #184
Sorry for the late response. Can you provide what you are sending as `Authorization` header?

[2020-08-09 17:50] niuage commented on #47
The comment from waiting-for-dev is what helped me after all. Turns out, when devise_for is in a `scope`, devise needs a namespace for the user param:

[code]

will expect `{"api_user": {"email": "email@gmail.com", "password": "password"}}`

[2020-08-10 13:27] rhiroshi commented on #183
Debugging the code, i suspect the culprit is in warden-jwt gem [warden-jwt_auth/lib/warden/jwt_auth.rb#L59](https://github.com/waiting-for-dev/warden-jwt_auth/blob/d973de893009b5138d0ebbdebda288420787fb51/lib/warden/jwt_auth.rb#L59)
`setting(:mappings, {}) do |value|
      constantize_values(symbolize_keys(value))
    end`
It creates another object from Devise.mappings when combined with this gem

[2020-08-10 16:21] Petercopter commented on #182
@waiting-for-dev I've been testing with the upgraded gems on a branch for a few days now, and I'm not seeing that error anymore. Not sure what was happening there, maybe there was sunspots or something. Thanks! 👍  🎉

[2020-08-12 19:04] vabburi86 opened #187 "aud getting set to null always and token header doesn't include token type(typ: "JWT")"
## Expected behavior
Token payload should have valid "aud" value (non null) or exclude it from payload.
Optional though, it would be good if "typ": "JWT" set in token header.

## Actual behavior
with Revocation strategy Null which is not recommended though, "aud" getting set to null which make invalid JSON format.
## Steps to Reproduce the Problem

1. device-jwt config

2. jwt_revocation_strategy:

[2020-08-13 05:13] waiting-for-dev commented on #187
`aud` is populated via your requests. Please, see https://github.com/waiting-for-dev/devise-jwt#aud_header

What you get is a ruby hash, which can be converted to a valid `json`.

About `typ`, are you talking about the header or the payload?

[2020-08-13 15:14] krishnakumar03 commented on #184
This is happening on login API, so I am not sending any authorization header

[2020-08-14 19:33] krishnakumar03 commented on #184
Hey, Actually not sure, just sat and reinitialized everything now it works fine. Anyway thanks :)

[2020-08-14 19:33] #184 closed

[2020-08-15 05:50] waiting-for-dev commented on #183
Hi @rhiroshi , thanks for your help on this.

I'd like to be able to reproduce it in the test suite so that we can nail down the problem and also avoid regressions.

I tried with this commit but I had no success. Please, take a look. I added you as a collaborator so that you can update `autorelaoding` branch.

https://github.com/waiting-for-dev/devise-jwt/commit/1baa06853c00e1a37bba1089d9ecea23f9d

[2020-08-17 16:49] rhiroshi commented on #183
Sorry for the delay.
I've noticed that the JwtWithJtiMatcherUser class was missing the <Module> instance which seemed to be the main issue in my case.
It is appended to the instanced object ancestors because of a has and belong to many association, so i added it to the JwtWithJtiMatcherUser class to be able to reproduce the problem. Now, when instancing it, it will append a <Module> instance as th

[2020-09-07 13:40] unikitty37 opened #189 "User gets logged out after an hour of inactivity, whether or not :rememberable is used"
I'm trying to write a Rails backend that uses devise-jwt to manage logins from a Vue frontend. However, after an incredibly short period of inactivity, the user is told they are logged out.

I would like to configure it so that the user can be inactive for 24 hours before being automatically logged out if they did not check "Remember Me", and for 6 weeks if they did. When the app was all-Rails, an

[2020-09-08 16:30] waiting-for-dev commented on #189
You can configure the expiration time of your tokens:

https://github.com/waiting-for-dev/devise-jwt#expiration_time

Rememberable works with cookies, so it makes no sense in the context of JWT tokens.

If you need more persistence with tokens, you're probably better off with something like OAuth.

[2020-09-09 08:27] unikitty37 commented on #189
Thanks — I think the problem is that I don't want users (myself included) having to log in all the time, but I had got the impression that setting the expiration time to something in the order of weeks was a security risk.

The only other way I can think of would be storing the user's credentials in the browser's local storage and retrying the login with the saved credentials if a 401 is returned,

[2020-09-09 08:27] #189 closed

[2020-09-09 08:41] unikitty37 commented on #189
Incidentally, is the expiration time extendable? As I was using `config.extend_remember_period = true`, I would want to have the token expire after it hasn't been used for a certain amount of time, rather than a fixed period from its inception…

[2020-09-09 08:54] waiting-for-dev commented on #189
No, it isn't. The expiration time is hardwired in the token's payload.

[2020-09-13 16:19] KenneyE commented on #37
I was running into a similar issue upon user registration. I wasn't using any custom paths or controllers or anything. The issue ended up being that I wasn't actually signing the user in after registration since they were `confirmable`. Pretty dumb on my part, but adding `config.allow_unconfirmed_access_for = 1.hour` in `devise.rb` resolved that issue.

That may or may not be helpful to anyone els

[2020-09-18 19:36] nasirshamshad commented on #37
This also worked for me after 2 days of head bangs

[2020-09-25 15:09] mariosknl opened #190 "Not able to retrieve user_id from another controller. Kindly request for your help"
Please, for a bug report fill in the following template. Before that, make sure to read the whole [README](https://github.com/waiting-for-dev/devise-jwt/blob/master/README.md) and check if your issue is not related with [CORS](https://github.com/waiting-for-dev/devise-jwt#model-configuration).

Feature requests and questions about `devise-jwt` are also accepted. It isn't the place for generic ques

[2020-09-26 06:26] waiting-for-dev commented on #190
Hi @mariosknl ! The first thing you should consider is if you need JWT authentication. You said you're using cookies, so in fact I see no need and you can stick with raw devise library.

[2020-09-26 08:47] mariosknl commented on #190
Thanks for your message in the first place. Well, I am setting the cookies in the browser. This is done via the sessions controller. So, I want to grab the current user id stored in the cookies in another controller. Can this happen somehow?

[2020-09-26 08:47] mariosknl commented on #190
What do you mean I dont need raw devise library?

[2020-09-27 05:49] waiting-for-dev commented on #190
You JUST need devise, you don't need devise-jwt. devise-jwt is useful when you don't have cookies, as it allows authentication through HTTP headers. But if you can use cookies, you don't need to add this extra layer of complexity.

[2020-09-28 16:38] rmammina opened #191 "Request Authenticate in Routes for Constrained Routes"
## Expected behavior
A route can be constrained via the constraint lambda block. By preventing certain mounted engines like the Resque server from being accessed to by users not logged in or without sufficient access, this is an ideal way to prevent access.

Should be able to access /admin/resque route when logged in and have sufficient permissions.

## Actual behavior
When running the constraint

[2020-10-02 10:14] mjerem34 opened #192 "Devise JWT “You need to sign in or sign up before continuing”"
Hello,
you're my last chance
I try to move from `devise_token_auth` to `devise-jwt`
When I try to sign_in a user, devise respond with : "You need to sign in or sign up before continuing."
Config :

 - devise 4.7.1
 - devise_jwt 0.8
 - rails 6.0
 - ruby 2.7.1

There is my code :
[code]
part of routes.rb :
[code]
(I have devise also working with admin_users (not jwt) and I have disabled routes of de

[2020-10-03 06:53] waiting-for-dev commented on #192
Sign in goes through database authenticatable module, which is part of devise and not devise-jwt. Please, check [the wiki](https://github.com/waiting-for-dev/devise-jwt/wiki/Configuring-devise-for-APIs) to be sure you have configured devise correctly on an API.

[2020-10-03 07:00] waiting-for-dev commented on #191
I haven't used constraints bus as far as I can see all the authentication happens in this line:

[code]
So here you're not dealing at all with devise-jwt nor warden-jwt_auth at all. Probably what you need is to let devise be aware of this route:

https://github.com/heartcombo/devise/wiki/How-To:-Protect-Resque-Web-with-Devise

[2020-10-03 19:06] rmammina commented on #191
Hmm, nothing in that article helped out. I tried wrapping the route in the authenticate block:

[code]

but when stepping through that logic, that calls similar code that I pointed to of trying to authenticate the user.

So you are saying there's no way to run the warden jwt authenticate chain in the routes.rb file? I'm surprised that it's not able to be called by default.

Please let me know if t

[2020-10-04 07:17] waiting-for-dev commented on #191
Sorry not to be able to help further here... devise-jwt just hooks into devise. If devise is supposed to work in a mounted engine thanks to `authenticate` method in the routes file, then devise-jwt will definitely also work. In fact, if you just want to apply the exact same authentication that you use elsewhere, then you don't need a route constraint at all

[2020-10-05 08:32] mjerem34 commented on #192
Hello ! Thanks for you answer, Devise is correctly configured for api mode ... See the previous message...
And the request format is correct :
[code]

[2020-10-05 15:24] mjerem34 commented on #192
And I have tried to ask in stack overflow : https://stackoverflow.com/questions/64156776/devise-jwt-you-need-to-sign-in-or-sign-up-before-continuing

[2020-10-05 15:44] rmammina commented on #191
I have this same functionality working with another project that uses devise with a traditional rails frontend, ie no jwt. The constrained route works properly and devise will authenticate in the routes.rb file. For some reason with the devise-jwt gem it fails to authenticate with warden in routes.rb

I will look into debugging more in depth why this is the case.

[2020-10-07 10:54] mayankdedhia commented on #153
This didn't work, renaming the file worked

[2020-10-11 14:19] Dainii commented on #121
I think she/he was talking about the `dispatch_requests` parameter (https://github.com/waiting-for-dev/devise-jwt#dispatch_requests). You have to list every additional requests that could request a token.

[2020-10-15 13:49] StellarProcy commented on #153
There is no more Blacklist, now it's Denylist.

[2020-10-16 00:38] helmiItsavirus opened #193 "Device jwt problem has a problem even using STI model with different path"
I had a problem when I tried to used device jwt with STI model and different path,

- ruby "2.6.6"
- gem "devise", "~> 4.7"
- gem "devise-jwt", "~> 0.8.0"

The administrator is Super Class
Employee is Subclass

This is my route.rb

`
Rails.application.routes.draw do

    devise_for :administrators, path: "admin"

    namespace :api, defaults: {format: :json} do
       scope module: :v1, constraint

[2020-10-16 04:00] #193 closed

[2020-10-21 01:52] brlafreniere opened #194 "When using cURL, I can see the Authorization header, but using Axios there is no header."
If I make a raw cURL request to `/users/sign_in`, I get a 302 response with an Authorization header.

If I do the same request with a library like axios from within my react app, it seems to follow the redirect, and the status is 200, and there is no Authorization header.

I've added the "Authorization" header to the list of exposed headers in my CORS config.

My mind is simply boggled as to what

[2020-10-22 06:05] waiting-for-dev commented on #194
Hi @brlafreniere ,

changing the client doesn't affect in any way devise-jwt behavior. If your client is following a redirect, then logically the original headers are no longer present. Probably you need to accordingly [configure devise for an API](https://github.com/waiting-for-dev/devise-jwt/wiki/Configuring-devise-for-APIs) to avoid that redirect in the first place.

[2020-10-25 15:25] jamesstaub commented on #153
👍  thanks @StellarProcy

[2020-10-25 17:51] davidwparker commented on #7
What I ended up doing is this:

In my allowlist:
[code]

There I would check the expiration. For example, if your token lasts 60 seconds and you want to refresh if at least 30 seconds old. You could write:

[code]

[2020-10-28 07:32] dominikdarnel commented on #192
I have the same issue.
@mjerem34 have you found any solution?

[2020-10-30 08:03] flyingboy007 opened #195 "Make a request unauthorized from sessions controller in devise-jwt"
I integrated this `devise-jwt` with devise & it's working great. But now I added `2FA` and the response is having issues when `OTP` verification fails.
I followed this [guide][1] for adding 2FA & tweaked the sessions controller create action like this.
Here is the sessions controller
The params I receive are email, password & OTP
[code]

Above code is working as expected if correct `email`, `passw

[2020-10-31 06:15] waiting-for-dev commented on #195
This problem is not related to devise-jwt. Anyway, in your `else` block you're not unauthorizing but just signing out, so probably you need to change there (for instance `head :unauthorized` should work if I'm not wrong).

[2020-10-31 06:15] #195 closed

[2020-11-01 10:50] flyingboy007 commented on #195
Thank you for your support. Yes, setting head to `: unauthorized ` works for status. But it's still setting the authorization token to the response because the username & password is correct even if the 2FA is incorrect. I know the `devise-jwt `gem is working as expected by setting the token in the authorization header when the devise/warden request succeeds. But as now I added OTP validation How

[2020-11-02 06:47] waiting-for-dev commented on #195
When you do `warden.authenticate!` you are effectively setting the token in the headers. Probably you need to refactor your code so that you only really authenticate when everything is fine, instead of authenticating and later signing out. I think there're some devise 2FA libraries out there that may help you integrate everything.

[2020-11-02 11:52] flyingboy007 commented on #195
None of the gems on `2FA` are properly maintained. I think writing from scratch is better here than using devise. Anyway, Thank you for trying to help.

[2020-11-03 23:53] Petercopter commented on #182
This is still a problem for me when I upgrade the gems, not really sure what the problem is. I tried again today, and even with no code changes when you start the server, you see this error. I'll try to get more information about where it might be coming from.

[2020-11-04 05:51] waiting-for-dev commented on #182
You can see more context in https://github.com/waiting-for-dev/devise-jwt/issues if that helps to debug.

[2020-11-04 17:17] AhmedKamal20 commented on #182
also happens to me when I use the JWT token to authenticate, but when I use the cookies on the same server, it works fine, so I think it has to do with devise-jwt

[2020-11-05 14:28] coleyb commented on #145
For anyone else running into this issue, what fixed it for me was to also pass the token as part of the `/logout` request. I assumed devise-jwt would be able to find and blacklist the appropriate jwt but that was not the case, unless I explicitly provided the token.

[2020-11-12 14:14] dmitryzuev commented on #192
@mjerem34 I had the same issue, but then I realized that by doing `devise_for` inside namespace, Devise Controller assigns `resource_name` to `api/v1/user` (or something like that).

Can you try to move `devise_for` outside of all `namespace` blocks and change its path to `path: 'api/v2/auth'`?

i think this should help! Let me know it it did, please

[2020-12-01 21:58] james-caresnap opened #197 "Patterns for altering payload"
Is there a recommended pattern for altering the JWT claims payload from rails? `jwt_payload` and `on_jwt_dispatch` appear to be called before the request gets to rails, so it's not possible to make any payload changes there.

It looks like all the token encoding happens in the `after_set_user` hook and none of that machinery looks it has a straightforward public API to call from up in the rails la

[2020-12-01 22:03] james-caresnap commented on #197
For some context, I'm trying to add an `amr` claim to indicate whether the user has two-factor-authed or not. I can imagine doing the two-factor check and set in a `prepend_after_set_user` hook so the `jwt_payload` can be prepared before the `devise-jwt` `after_set_user` hook is called, but I'm curious about a more generalized workflow where I want to add arbitrary bits of data to the JWT (outside

[2020-12-02 06:19] waiting-for-dev commented on #197
For now, there's no devise-jwt way to add data from the request (racks's `env`) to the payload. For that you should define a warden hook or a rack's middleware.

`jwt_payload` is used to add information from the user record. For instance, if you are storing whether a user has 2FA enabled in a boolean `has_2fa` field, you could do:

[code]

[2020-12-03 06:49] waiting-for-dev commented on #194
Closing for now, feel free to add more comments if needed

[2020-12-03 06:49] #194 closed

[2020-12-03 06:50] waiting-for-dev commented on #192
Closing for now, feel free to add more comments if needed

[2020-12-03 06:50] #192 closed

[2020-12-03 06:50] waiting-for-dev commented on #191
Closing for now, feel free to add more comments if needed

[2020-12-03 06:50] #191 closed

[2020-12-03 06:51] waiting-for-dev commented on #190
Closing for now, feel free to add more comments if needed

[2020-12-03 06:51] #190 closed

[2020-12-03 06:51] waiting-for-dev commented on #187
Closing, feel free to add more comments if needed

[2020-12-03 06:51] #187 closed

[2020-12-03 06:52] waiting-for-dev commented on #181
Closing, feel free to add more comments if needed

[2020-12-03 06:52] #181 closed

[2020-12-07 19:36] #197 closed

[2020-12-07 21:56] james-caresnap opened #198 "Token auth happening on sign_in"
If a client sends a valid JWT to the `sessions/sign_in` controller action, the client can log in even if they post bogus user/password credentials.

Truthfully, this is really a programmer error. The client shouldn't be sending a valid JWT along with a sign in request. However, the current behavior is super confusing and took some time to track down. Raising an error (or really anything else) seem

[2020-12-08 06:39] waiting-for-dev commented on #198
Cookies have nothing to do with the Authorization header, so probably your problem was related to the [Session storage caveat](https://github.com/waiting-for-dev/devise-jwt#session-storage-caveat).

Other than that, cascading through all available strategies is inherent in how warden works. Definitely, we don't want to blindly refuse token for sign-in, as it could break other people's workflow. We

[2020-12-08 06:39] #198 closed

[2020-12-09 20:09] theblang commented on #126
An additional reason we are looking to store the token in a cookie is to make use of the `Domain` attribute to share auth state across subdomains. From [the MDN docs](https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies):

[2020-12-24 20:33] krnjn commented on #145
@coleyb would you mind expanding on your comment a bit? In particular, I'm curious about the shape / params you submitted as part of the request. Usually DELETE requests don't have any body and we are already including the token as part of the `Bearer TOKEN` in the `Authorization` header, so not sure I'm following quite the difference of what you had done that enabled the auto-deletion of the jwt

[2020-12-25 07:02] waiting-for-dev commented on #145
This should be handled in this method:

https://github.com/waiting-for-dev/devise-jwt/blob/af1c35074f69abe15c847eb3b41814114ea875f8/lib/devise/jwt/revocation_strategies/allowlist.rb#L34-L37

This can help you debugging. If you find some problem, please, open an issue with all the information. Cheers.

[2020-12-30 04:49] krnjn commented on #145
@waiting-for-dev -- we had an issue on our end with the implementation where some of the requests being sent for the specified revocation route were not including the `Bearer ` prefix for the request so the gem was not able to find / destroy the jwt in the database as a result. Just a heads up in case anyone is making requests and forgetting to prefix their `Authorization` header with `Bearer `.

[2021-01-04 05:09] rsmithlal opened #199 "Having trouble retrieving token header when using in an isolated Rails engine"
Hey there,

I'm trying to use this utility to generate JWT tokens for my API mounted inside a Rails engine. I'm able to create a `BetterTogether::User` and login successfully, but I'm not seeing any `Authorization` token in my response headers. I did a deep dive on other issues related to not receiving the Authorization header, and I can't seem to find out what is preventing the token from being i

[2021-01-04 05:20] waiting-for-dev commented on #199
Have you overwritten the `login` action or is it using the devise's default? Also. please, paste the output of `Devise::JWT.config` and `Warden::JWTAuth.config`.

[2021-01-04 05:24] rsmithlal commented on #199
Thanks for your quick response! I pasted the results that you requested in the original issue body where asked in the template.

I'm providing more info now that was missed the first time.

My CORS
[code]

My registrations controller
[code]

My sessions controller
[code]

[2021-01-04 05:27] rsmithlal commented on #199
The one thing that looks off to me is that `Warden::JWTAuth.config` has an empty hash for its `mappings` key.

[2021-01-04 05:56] waiting-for-dev commented on #199
Hmm, yeah, that's weird... we should check whether the [railtie](https://github.com/waiting-for-dev/devise-jwt/blob/master/lib/devise/jwt/railtie.rb) is being triggered and is doing its job...

[2021-01-04 06:05] rsmithlal commented on #199
Thanks for the suggestion! I've often had to require things manually in my engine file for other gems that I've included. Do you think that I might have to do something similar for this library? How would I go about ensuring that the railtie is being triggered? I tried requiring `devise/jwt` at the top under `require "devise"`, but  nothing changed.

This is my current engine file:
[code]

[2021-01-04 06:08] rsmithlal commented on #199
It looks like the railtie might not have run after all! I don't see the middleware in my stack:

[code]

[2021-01-04 23:50] rsmithlal commented on #199
OK, I managed to figure this out!! Thanks for your suggestion about the middleware, @waiting-for-dev!

I was requiring the library incorrectly in my Rails engine. I was using `require_dependency` inside my `before_initialize` block, but I needed to just use `require "devise/jwt"` at the top of my engine file. I repaced the `require "devise"` line that I had there before, because I saw that your li

[2021-01-05 06:21] waiting-for-dev commented on #199
Happy it's working now, and thanks for sharing your code so that others can benefit from it.

Yes, `current_user` will be automatically managed by devise and it will reference the user authenticated through the JWT strategy.

If everything is clear now I'm going to close this issue. Feel free to add more comments or questions if needed.

[2021-01-05 06:21] #199 closed

[2021-01-05 06:29] rsmithlal commented on #199
@waiting-for-dev thank you! Is there anywhere currently documenting the fact that this library hooks into the normal devise life cycle and essentially replaces retrieving the user information stored in the session cookie with user info stored in the JWT?

I'd be happy to expand the docs to speak more about that if you're interested. Might also be a good idea to start a FAQ from previous common iss

[2021-01-05 06:33] waiting-for-dev commented on #199
That's not completely true. Please read the [session storage caveat](https://github.com/waiting-for-dev/devise-jwt#session-storage-caveat) documentation. I think the Readme, and the link to warden-jwt_auth's Readme are enough to understand what the library is doing and how it's not monkeypatching devise in any way.

Yeah, that could be a good idea. Probably the Wiki would be a good place for it.

[2021-01-12 05:34] mkhoa1412 commented on #175
Hi @waiting-for-dev how i call TokenRevoker.call() in controller.
I use Denylist and want to revoke a token when deactive a user

[2021-01-12 06:09] waiting-for-dev commented on #175
Are you storing the `jti` for the user you want to deactivate? Otherwise, I think you're out of luck with this strategy. `JtiMatcher` would work better for you.

[2021-01-12 06:28] mkhoa1412 commented on #175
Unfortunately, I'm using Denylist strategy

[2021-01-12 07:01] waiting-for-dev commented on #175
You still could:

- Change secret to log out all users.
- Begin storing the token (which you can find at `request.env['warden-jwt_auth.token']`) and associate it with the user.
- Add the token to the deny list when admin deactivates a user.

[2021-01-12 16:15] mkhoa1412 commented on #175
Thanks for your quick reply.
Begin storing the token .and associate it with the user -> do you think should i change to Whitelist strategy ?

[2021-01-13 05:05] waiting-for-dev commented on #175
Probably it would simplify your workflow as `jti` is tracked out of the box. Same for `JTIMatcher`.

[2021-01-22 21:34] Lary15 opened #200 "Logout with JTIMatcher as revocation strategy not revoking token"
## Expected behavior
While using JTIMatcher the expected outcome of the logout action is to update the jti column. As I read in this issue #167,
this is the only time the jti column will update.

## Actual behavior
When I logout, the jti doesn't change, so, while repeatedly logging in, the jti is always the same.

## Steps to Reproduce the Problem

1. Calling login method with credentials of a use

[2021-01-22 21:44] Lary15 commented on #200
Ok, now so this was really dumb. I forgot to put the Authorization header with the token in the logout request :woman_facepalming:

[2021-01-22 21:44] #200 closed

[2021-01-29 17:37] mariohmol opened #201 "JWT Token generated by another backend: Missing jti/wrong scope errors"
HI, thanks for this repo.

I'm trying to make an express app to generate a JWT token that will be used in the devise-jwt backend.

I was having a `Missing jti` error, then I included my payload to be

[code]

Then I started to get the "wrong scope" error.

Any suggestions on how to accomplish it? Is it possible to another backend generate the JWT and make the devise-jwt to use that ?

This is how

[2021-02-01 16:26] mariohmol commented on #201
Hi,
I could make it work in this way:

1. make a token in your backend like this example. ou have to have scp as `user` and can't have an aud.
[code]

2. After that you have to implement a method like:
`scope :find_for_jwt_authentication, ->(q) { where('id = ?', q) }`
And our token will pass the  sub as the user.id.

[2021-02-01 16:27] #201 closed

[2021-02-01 16:27] mariohmol commented on #201
Is any method that I can implement to be executed just after the jwt token pass? I want to make some extra steps in session when this happens! thanks a lot!

[2021-02-14 11:59] waiting-for-dev commented on #183
Closing in favor of #186

[2021-02-14 11:59] #183 closed

[2021-02-14 12:00] waiting-for-dev commented on #182
Closing in favor of #186

[2021-02-14 12:00] #182 closed

[2021-02-23 23:07] toomanyjoes opened #202 ""tokens are also dispatched on a successful sign up" ?"
The README mentions briefly "tokens are also dispatched on a successful sign up", I think a little more clarification would be helpful. Does that mean I should expect an Authorization header with Bearer {JWT} in the response to the RegistrationsController create method? I can't think of what else a sign up would mean and if this is the case then this is not the behavior I am seeing in my tests. #c

[2021-02-24 04:15] waiting-for-dev commented on #202
That's exactly what you should expect. If not, please, open a proper issue with all the required debugging information. Cheers.

[2021-02-24 04:15] #202 closed

[2021-02-25 03:07] davidwparker opened #203 "Github Actions don't set response.headers['Authorization'] correctly"
## Expected behavior
[code]

Should be the Authorization header.

(can also use `request.env['warden-jwt_auth.token']` which also doesn't work).

## Actual behavior

[code]
is set to `***`.

Everything works fine if run locally. However, when running on Github Actions, it sets the incorrect thing.

## Steps to Reproduce the Problem

1. Use rspec my request specs on Github Actions results in `***`

[2021-02-25 04:48] waiting-for-dev commented on #203
It looks like your setup is masking sensitive information from the logs. I haven't had the chance to use GH actions yet, but there's an [add_mask](https://docs.github.com/en/actions/reference/workflow-commands-for-github-actions#masking-a-value-in-log) command which looks like the responsible. I don't think you have an issue here, as it only should affect what you see in the logs but not the actua

[2021-02-25 14:41] davidwparker commented on #203
Here's my workflow for GH actions:

[code]

It doesn't seem to have anything about masking, but that seems like it's a good starting point to look. I'll investigate it and let you know what I end up finding out. My hunch is you're correct but maybe it's hidden by default.

[2021-02-25 15:14] davidwparker commented on #203
This is what I get when I log out the `request.env` in GH actions:

[code]

Notice the last line has the `***`

Also this line: `     :***"password",` (which is just this: `     :password=>"password",`

It's not using Rails' `Rails.application.config.filter_parameters += [:password]` as that is `[FILTERED]`.

[2021-02-25 21:52] davidwparker commented on #203
Update:
I'm in contact with Github support to see if they can help provide context.

I've create a public repo here, if you want to look (no worries if you don't). If I get it fixed, I'll post the solution here and likely delete the repo:
https://github.com/davidwparker/programmingtil-rails-1/pull/2/checks?check_run_id=1982880533

[2021-02-26 00:49] davidwparker commented on #203
Final update.

The problem was that I didn't have this set for GH Actions:

devise.rb
[code]

I thought I had, but then in my GH action file I needed to add it:

[code]

And I set the secret in my Github > Repo settings > Secrets.

The `***` was a red herring.

But, GH _does_ mask things they want, without telling users.

This is the feedback from them on that:

The same logic applies for the pass

[2021-02-26 00:49] #203 closed

[2021-02-26 03:32] toomanyjoes opened #205 "Using Rspec to test that Authorization header is set on a sign up"
I am currently unable to get a JWT token in the response headers of a rspec test after a successful **sign_up**.

devise (4.7.3)
devise-jwt (0.8.0)
warden (1.2.9)
warden-jwt_auth (0.5.0)

I think my problem might be that I'm using a controller test in order to validate this. Is it even possible to test that an Authorization header is set on an rspec controller type test? The controller test needs

[2021-02-26 04:15] waiting-for-dev commented on #205
The [token is added in a rack middleware](https://github.com/waiting-for-dev/warden-jwt_auth/blob/612f6120573eb43b7d34141e603f6386948b2b0c/lib/warden/jwt_auth/hooks.rb#L62). Controller tests don't go through them so, basically, you have no way. Acknowledging that everything is opinionated, I think it makes no sense to test in your application something that is already tested on `warden-jwt_auth` &

[2021-03-02 05:53] waiting-for-dev commented on #205
Closing for now but feel free to add more comments if needed.

[2021-03-02 05:53] #205 closed

[2021-03-04 23:53] samuel-loupen opened #206 "expiration_time: set to never expire"
If I'm using Null Strategy, how can I set expiration_time to actually not expire?
Tried to set nil, but it does not worked.
As workaround, I'm setting 10 years, but it does not seems right!

[2021-03-05 03:56] waiting-for-dev commented on #206
Hi @samuel-loupen , from the README:

So, I'm sorry to say that's not possible. Cheers.

[2021-03-05 03:56] #206 closed

[2021-03-11 19:51] augustosamame opened #207 "Retrieving stored JWT token for use in an external platform"
## Expected behavior

Token should be stored somewhere (user table) so it can be used to authenticate 3rd party platforms

## Actual behavior

Token is not saved so no way to send token to a 3rd party.

## Steps to Reproduce the Problem

I may have a wrong understanding on how devise-jwt works. I have assumed the flow is the following:

frontend user logs in and JWT token is generated, sent to fro

[2021-03-11 19:58] augustosamame commented on #207
If I wanted to send the generated JWT token somewhere, would this be a good place to do it?

[code]

[2021-03-12 04:22] waiting-for-dev commented on #207
Hi @augustosamame , no worries, this is the place to ask questions, too.

I recommend you to read this introduction to JWT so that you can understand how things work:

https://auth0.com/learn/json-web-tokens/

Basically:

It's not how it works

It's not any claim what makes the token valid. The token is signed so it can be recognized later by the server:

- Server dispatches a signed token with so

[2021-03-12 04:44] augustosamame commented on #207
Thanks for the detailed response. "The token has a claim called jti which
is always unique". THIS is what makes it make sense for me. It guarantees
that the token is always unique and can be used for denylist. Got it!

On Thu, 11 Mar 2021 at 23:22, Marc Busqué ***@***.***> wrote:

[2021-03-12 04:44] #207 closed

[2021-03-22 04:38] bfsgr opened #208 "Devise all_signed_out? returning true every time"
Basically when trying to logout from a session with the Authorization header included or not the server rendered me a status 500. Debugging the issue I've found that devise was calling `respond_to` in the wrong context, digging deeper it appears that `all_signed_out?` was returning true when it should be false. The relevant code in the [devise code base](https://github.com/heartcombo/devise/blob/m

[2021-03-22 15:25] waiting-for-dev commented on #208
Hey, thanks for sharing all the information. However, it isn't a `devise-jwt` issue, as it only hooks into devise behavior but it doesn't mess with its internals at all. Probably your issue is related to having the wrong configuration of a Devise for an API. Maybe you can find some help looking at our [wiki page on configuring Devide for APIs](https://github.com/waiting-for-dev/devise-jwt/wiki/Con

[2021-03-22 15:26] #208 closed

[2021-04-13 08:35] jvelez1 opened #209 "Question: two-factor"
Hello,

I've implemented devise-jwt for authentication API, and now I need to integrate OTP (two-factor), not sure if devise-jwt support something like that, or if you guys recommend any other gem that works with this.

Thanks, and sorry for the inconvenience.

[2021-04-13 16:09] waiting-for-dev commented on #209
Hi @jvelez1 ,

two-factor belongs to the first authentication domain, the one that you do, for instance, with `database_authenticatable` devise strategy. `devise-jwt` always relies on that first step having been executed (it will never return a token just because). You can check [devise's wiki page on extensions](https://github.com/heartcombo/devise/wiki/Extensions). I know they're at least two of

[2021-04-13 16:09] #209 closed

[2021-04-29 14:16] marclennox opened #210 "Multiple Devise Scope Support"
I have multiple Devise scopes that both use devise-jwt for authentication.  Because warden uses the same header for the auth token (warden-jwt_auth.token), it is not possible to be logged in with both scopes simultaneously.  Is there a suggested way around this, such that the warden header is unique for each scope?

[2021-04-30 03:42] waiting-for-dev commented on #210
@marclennox it should be possible to log in using either scope without issues. The token is in the request information, and its payload contains the scope that is trying to authenticate, so two different requests can authenticate two users from different scopes.

[2021-05-13 22:44] marclennox commented on #210
@waiting-for-dev Thanks for this.  As I dig deeper into this I'm getting closer to understanding what's going on, but still not there.  I'll try and expand a bit on what I'm doing and what I've seen.

For context, I'm using cookies to handle the jwt authentication.  As an `after_action` on the sessions controller, I'm setting a cookie to the value stored in `request.headers['warden-jwt_auth.token'

[2021-05-19 10:09] waiting-for-dev commented on #210
Hey @marclennox, sorry for the late response.

If you're using cookies, I'd say you don't need to use `devise-jwt`. Unless I'm missing something, you could rely on plain `devise`.

The token is set in `env['warden-jwt_auth.token']` [here](https://github.com/waiting-for-dev/warden-jwt_auth/blob/d47a55f32ca7883952003eafe212289eaefae50b/lib/warden/jwt_auth/hooks.rb#L41)

[2021-05-19 13:16] couchbelag opened #212 "rails autoloading devise models after changes"
## Expected behavior

Changes to devise models (e.g. User) while rails server is running should take effect immediately without raising an exception.

## Actual behavior

Using devise's `current_user` (e.g. in assignments) after User model has been changed, an `ActiveRecord::AssociationTypeMismatch` is raised in rails development environment. We were able to narrow it down to `JWTAuth.config.mappi

[2021-05-19 14:23] marclennox commented on #210
I support both header-based and cookie-based auth, but perhaps I could get away just with warden-jwt?  Thanks for the heads up on where the env gets set.

[2021-05-19 15:18] kejordan commented on #134
I could use some support with this issue as well.  The app I'm working on is actually stuck on Rails 3 (we're working on getting up to date).  If you have any hints to get started modifying the gem to work with Rails 3, it would be much appreciated.

[2021-05-20 02:44] waiting-for-dev commented on #134
Hey @kejordan ,

IIRC you only need to modify this file: https://github.com/waiting-for-dev/devise-jwt/blob/master/lib/devise/jwt/models/jwt_authenticatable.rb

`class_methods` is not available on Rails 3. Instead, you should create the `ClassMethods` nested module: https://www.rubydoc.info/docs/rails/3.2.8/ActiveSupport/Concern

[2021-05-21 09:37] waiting-for-dev commented on #210
Sure, you can do anything with only `warden-jwt_auth`. You have to assess whether the integration it provides with the Rails model layer helps you. If you're going to implement a super-specific workflow, it's an option to get rid of it.

[2021-05-21 09:40] waiting-for-dev commented on #212
It should [be fixed on version v0.8.1](https://github.com/waiting-for-dev/devise-jwt/blob/master/CHANGELOG.md#081---2021-02-14). Please, update it and report if it works for you.

[2021-05-25 11:49] couchbelag commented on #212
Thanks for the feedback! I tried with `master` (is there some pre-release for 0.8.1?) and yes, it works as expected. And of course I want to thank you for this excellent gem!

[2021-05-25 15:44] waiting-for-dev commented on #212
It's already released: https://rubygems.org/gems/devise-jwt/versions/0.8.1

Happy it works and thanks for the nice words!

[2021-05-25 15:45] #212 closed

[2021-05-26 13:23] i-Captain commented on #187
I had some "aud": null troubles today ;)

The solution: Nginx needs an extra entry (if you use for example 'JWT_AUD') else nginx is not forwarding header with an underscore.
https://stackoverflow.com/questions/19751313/forward-request-headers-from-nginx-proxy-server

`underscores_in_headers on;`

@waiting-for-dev  thanks for your

[2021-05-27 19:35] Bdoom opened #213 "Not able to setup secret"
![image](https://user-images.githubusercontent.com/1284431/119886472-03874000-bf01-11eb-9b8a-7d2b62e03bf2.png)

When I setup the system in devise.rb initializer like you wrote, I get this error:
![image](https://user-images.githubusercontent.com/1284431/119886544-16017980-bf01-11eb-9245-cf2ba6e35520.png)

![image](https://user-images.githubusercontent.com/1284431/119886590-1ef24b00-bf01-11eb-86f5-

[2021-05-27 19:38] Bdoom commented on #213
Please ignore this, I'm stupid lol

[2021-05-27 19:40] Bdoom commented on #213
This does not work...

[code]

[2021-05-28 00:27] Bdoom opened #214 "Examples?"
Can you show me an example of an http request to /users/sign_in.json? and what I need to be passing into it?

[2021-05-28 00:28] Bdoom commented on #214
![image](https://user-images.githubusercontent.com/1284431/119912749-05192e00-bf2a-11eb-82b1-783d667b0214.png)
This is what I'm doing, and the result...

[2021-05-28 04:10] Bdoom commented on #179
This is basically the same issue I'm having, but I don't want to be using a token lol

[2021-05-28 14:10] Bdoom opened #215 "No AUD Header?"
![image](https://user-images.githubusercontent.com/1284431/119996619-ed2ec200-bf9c-11eb-80d2-e71b5f04d1ee.png)

Why is there no AUD header?

[2021-05-28 15:26] Bdoom opened #216 "The token is not being stored in the Denylist?"
![image](https://user-images.githubusercontent.com/1284431/120007030-7d720480-bfa7-11eb-87ac-f38c17489d2c.png)
The token is not being stored in the Denylist?

[2021-05-31 11:13] waiting-for-dev commented on #213
Hi @Bdoom . Please, if you're experiencing any issue open a new issue filling it the bug report template. It will make it much easier to provide help. Thanks.

[2021-05-31 11:13] #213 closed

[2021-05-31 11:13] waiting-for-dev commented on #215
Hi @Bdoom . Please, if you're experiencing any issue open a new issue filling it the bug report template. It will make it much easier to provide help. Thanks.

[2021-05-31 11:13] #215 closed

[2021-05-31 11:14] waiting-for-dev commented on #216
Hi @Bdoom . Please, if you're experiencing any issue open a new issue filling it the bug report template. It will make it much easier to provide help. Thanks.

[2021-05-31 11:14] #216 closed

[2021-05-31 11:16] waiting-for-dev commented on #214
Hi @Bdoom. You can look at the [rails application on the test suite](https://github.com/waiting-for-dev/devise-jwt/tree/master/spec/fixtures/rails_app) for examples. Also, following the Readme closely should be enough to make it work. Otherwise, please, open an issue with your problem filling in the bug template that is prompted.

[2021-05-31 11:16] #214 closed

[2021-06-03 04:54] waiting-for-dev commented on #210
I'm going to close it, but feel free to add more comments if needed

[2021-06-03 04:54] #210 closed

[2021-06-10 07:47] adnanmirza1 opened #217 "dispatch requests not working for me"
In my devise.rb config, i have added dispatch request like this:

 jwt.dispatch_requests = [
      ['POST', %r{^/api/v1/users/sign_in$}],

    ]

    still i'm not receiving token on this request.

[2021-06-10 07:56] waiting-for-dev commented on #217
Please, open a new issue filling the bug template report that is rendered with all the debugging information. Thanks.

[2021-06-10 07:56] #217 closed

[2021-06-10 08:12] adnanmirza1 opened #218 "Dispatch request not sending me token when i login from api"
When i login with simple login, I'm receiving the token but i have made another login for API
when i login through it, i'm able to login  but i'm not receiving jwt token with it.
In my dispatch request in devise config, i have added the path as well. still i'm not receiving the token.
Here's the screenshot of devise config:
![image](https://user-images.githubusercontent.com/58806552/121489355-71e1

[2021-06-10 11:00] tashi-179 commented on #218
No need to give a full start and end URL for the dispatch request. Just try with below code and you are good to go.
[code]

[2021-06-10 11:09] adnanmirza1 commented on #218
I tried it but still i'm not receiving the token

[2021-06-10 11:19] tashi-179 commented on #218
And also make sure to have following code inside your `user` model.

[code]

[2021-06-10 11:26] adnanmirza1 commented on #218
devise(
    :jwt_authenticatable,
    :database_authenticatable,
    jwt_revocation_strategy: JwtDenyList
)

Instead of self i have JwtDenyList

[2021-06-10 12:51] tashi-179 commented on #218
That's fine. It should work. For me, I didn't have any relations for `deny_list` so using the same `user` table.

[2021-06-10 12:53] adnanmirza1 commented on #218
I tried both none is working

[2021-06-10 12:56] waiting-for-dev commented on #218
Hi @adnanmirza1 , I need the debugging information that is requested on the bug report template to be able to help you.

[2021-06-10 13:15] adnanmirza1 commented on #218
These are my routes:

![image](https://user-images.githubusercontent.com/58806552/121531375-c69a6d80-ca17-11eb-9ec9-91f0d52129cc.png)

i think problem is here somewhere
it's giving me proper response with token in my
users/sign_in
but not giving it to me in
api/v1/users/sign_in

[2021-06-11 06:17] adnanmirza1 commented on #218
Adding routes like that gives me following error:
![image](https://user-images.githubusercontent.com/58806552/121639892-a239a200-caa6-11eb-9653-b49ba32b7415.png)

[2021-06-11 06:27] tashi-179 commented on #218
Ah yes. You have already defined `devise_for`. We cannot define twice. What you can do is, now you have to use `as` keyword like below.

[code]

[2021-06-11 06:32] adnanmirza1 commented on #218
It still gives me this error that new_user_session is already in used
![image](https://user-images.githubusercontent.com/58806552/121641289-6ef81280-caa8-11eb-8f28-d0a70babb6c6.png)

[2021-06-11 06:34] adnanmirza1 commented on #218
@waiting-for-dev what else do you need from my side to help me?

[2021-06-11 08:18] tashi-179 commented on #218
Please share your route file.

[2021-06-11 09:07] adnanmirza1 commented on #218
These are my complete routes related to this:
![image](https://user-images.githubusercontent.com/58806552/121662069-5692f280-cabe-11eb-9198-5ef6b36fee7d.png)

[2021-06-11 10:01] adnanmirza1 commented on #218
Just copied your routes and pasted in mine and now it's working.
Thank You so much for all the help. <3

[2021-06-11 10:01] #218 closed

[2021-06-14 11:58] mvaragnat opened #219 "Dispatch token after reset password flow"
## Expected behavior

After I
- click on "forgot password",
- sent my reset password request,
- receive the reset instruction email with the link with the reset token
- submit the form with the new password, password confirmation, and reset token
- and receive a success response from the server

I expect
- the server response to come up with an Authorization header with the bearer token
- so I can

[2021-06-15 03:36] ajit123jain commented on #219
Hi @mvaragnat you need to add the dispatch requests path in devise.rb. For ex.

config.jwt do |jwt|
    jwt.secret = Rails.application.credentials.devise[:jwt_secret_key]
    jwt.dispatch_requests = [['POST', %r{^/api/v1/sign_in$}],
                             ['PUT', %r{^/api/v1/users/password$}]
                           ]
  end
So here you need to add or modify the path according to your rese

[2021-06-16 15:07] waiting-for-dev commented on #219
Yeah. It could be supported if we change code around this line https://github.com/waiting-for-dev/devise-jwt/blob/bb201c8110f556c1657e56d635457fe2e140c0e8/lib/devise/jwt/defaults_generator.rb#L57

[2021-06-23 11:55] andrewtheskills commented on #56
This issue relates to the gem configuration. To fix this issue you need to set `jwt.secret` in the `config/initializers/devise.rb` file:

[code]

[2021-06-23 11:55] azelenets commented on #56
This issue relates to the gem configuration. To fix this issue you need to set `jwt.secret` in the `config/initializers/devise.rb` file:

[code]

[2021-06-30 10:19] mvaragnat commented on #219
Sorry I forgot to reply and thank you for the tip. This worked fine !

[2021-06-30 10:20] mvaragnat commented on #219
it could be made default, because I assume you always want to log in your user after a successful password reset, instead of asking them to enter it again on a login screen ?

Anyways, thanks for the help, I'm closing the issue now

[2021-06-30 10:20] #219 closed

[2021-07-01 07:25] hassanjilani1414 opened #221 "After User is logout with the created JWT Token, and again login it gives 401 Unauthorized error on api request for already created user"

[2021-07-01 17:13] waiting-for-dev commented on #221
Please, open a new issue providing all the debugging information that is prompted to be filled. It's the way we can help you :slightly_smiling_face:

[2021-07-01 17:13] #221 closed

[2021-07-20 12:50] arikarim opened #222 "Unauthorized request when requesting to heroku"
Hello,

I try setting up authentication with devise and devise-jwt, everything works fine locally, but on Heroku when I try to send back the token after user login it always says unauthorized.
??????????????????????
this is my cors.rb:
` Rails.application.config.middleware.insert_before 0, Rack::Cors do
  allow do
    origins 'http://localhost:3000'

    resource '*', headers: :any,

[2021-07-20 16:05] waiting-for-dev commented on #222
Please, I'd need you to fill the bug report template in order to be able to help you.

[2021-07-20 16:05] #222 closed

[2021-07-26 07:29] arikarim commented on #222
Fixed the issue, environmental variable needed on Heroku config.

[2021-07-26 15:57] jbwl opened #224 "Not possible to sign in multiple different users from the same API client?"
Maybe this is possible already so I don't want to file a bug report.

My use case is to "impersonate" another user from my client (a Vue web app with Axios):

- First, I log into the Web app as an admin user. The authentication endpoint /users/sign_in returns this admin user's token, which is stored in the web app to make requests (User A).
- As an admin in this web app, I want to "impersonate" an

[2021-07-29 09:59] waiting-for-dev commented on #224
Hi @jbwl,

devise is built on top of warden, which uses a [cascade of authentication strategies](https://github.com/wardencommunity/warden/wiki/Strategies) until one of them succeeds. If you manage to put [devise's `:database_authenticatable` strategy](https://github.com/heartcombo/devise/blob/5d5636f03ac19e8188d99c044d4b5e90124313af/lib/devise/strategies/database_authenticatable.rb#L31) before [w

[2021-07-30 06:26] jbwl commented on #224
Thank you for this clarification, now I know where to look! And thank you for the great library.

[2021-07-30 06:26] #224 closed

[2021-08-24 16:31] LucasArruda opened #226 "Getting an error when trying to deploy a setup in Heroku"
## Expected behavior

Being able to deploy to heroku a web (not only API) that makes use of devise and `devise-jwt`

## Actual behavior

I get an error while trying to load `jwt` config in `devise` config file

[code]

## Steps to Reproduce the Problem

1. Add and config devise-jwt
2. Setup works locally
3. Push to heroku (get failure message)

## Debugging information

- Version of `devise-jwt` i

[2021-08-25 00:45] LucasArruda commented on #226
I finally found the problem and why it works in development/test.

This is not an issue with `devise-jwt`, thus I am closing this.

But just to give some insight into my problem, because it was really bugging me (and maybe this can help some random person googling around?).

I thought the issue was on `jwt` being `nil` on `jwt.secret` but actually, `devise` from `Rails.application.credentials` is

[2021-08-25 00:45] #226 closed

[2021-09-17 17:46] cassiompf opened #229 "Why doesn't devise-jwt authenticate the user when cookies are disabled?"
When I try to authenticate the user in my api, and use Bearer token in another controller that needs authentication, it always returns a message that I'm not authenticated: "No verification key available". I use the following code to create a user session:

[code]

And on my route that needs authentication I use:

`before_action :authenticate_user!, only: %i[create destroy]`

My routes.rb file:

[

[2021-09-17 21:44] cassiompf commented on #229
I've already managed to resolve it. The problem with the jwt configuration.
I was doing something like this:

[code]

where actually, it was supposed to be like this:
[code]

[2021-09-17 21:44] #229 closed

[2021-09-24 16:22] addod19 commented on #55
Adding `:jwt_authenticatable` solve the error for me. Thanks

[2021-09-30 09:43] baarkerlounger opened #230 "Github latest release tag"
Github shows the Latest release as being 0.6.0 but it looks like 0.9.0 should have that tag now?

[2021-10-03 13:12] chrisgeek opened #231 "Error When trying to create app using template"
When I run `rails new app_name -m path/to/template.rb`, I get this error when trying to run `rails generate devise:install`
[code]
I think it is coming from your version of devise-jwt 0.7.0 which had a major change after it.

Rails:  6.0
Ruby: 2.6.3

[2021-10-03 13:13] #231 closed

[2021-10-03 13:13] chrisgeek commented on #231
Wrong repo

[2021-10-04 03:49] waiting-for-dev commented on #230
Thanks. I removed the release information altogether. I wasn't using it consistently in this repo. So, now, it links to the tags, which shows 0.9.0 as the last one.

[2021-10-04 03:49] #230 closed

[2021-10-05 09:30] shengchalover commented on #153
looks like all the dislikes and negative reactions have been silently cleaned from this thread

[2021-10-20 14:10] rajuchavitipalli opened #232 "migration failling"
[code]

[2021-10-25 06:08] maqsudinamdar opened #233 "Not Authorizing on custom devise signup route"
## Problem Statement

I'm Newbie in Rails and following [this tutorial](https://github.com/DakotaLMartinez/rails-devise-jwt-tutorial) for setting up JWT based authentication in API.

This rails project works fine for a web applications. However, Incase of API I'm getting empty `resource` while I still have value in `params`.

## Expected behavior

Return Authorization token after signup

## Enviro

[2021-11-06 08:59] #232 closed

[2021-11-11 06:43] waiting-for-dev commented on #233
It doesn't seem an issue with devise-jwt. Your user is not being created, and that's a responsibility that doesn't belong to this library but to devise itself. At first sight, I think you have a problem with your params, as they should be within the name of the user scope, like in `{"user": {"email": "...",...}}"

[2021-11-11 06:43] #233 closed

[2021-11-12 07:19] maqsudinamdar commented on #233
Hi @waiting-for-dev,

Thanks for your response. I tried keeping parameter inside `"user"` but then to it was not working.

- **Request**

[code]

- **Response**

[code]

[2021-11-12 09:15] waiting-for-dev commented on #233
I'm really sorry for not being able to give more support here. You'd better be off trying to find a solution in stack overflow as it seems it's a problem with your setup (devise-jwt is not involved here).

[2021-12-25 18:23] grillermo commented on #233
I dig around devise-jwt, warden-jwt_auth, warden and devise codebases for hours to figure how to get a token on the headers after registration. Hopefully it will save people time.

Your RegistrationsController has to look like this:

[code]

And the routes looks like this

[code]

[2022-01-12 09:43] coins-black opened #234 "Can't nadle JWT::DecodeError exception on Rails 7"
Hi guys!

I'm using Rails 7 App and want to handle `JWT::DecodeError`. In my `app/controllers/application_controller.rb` i wrote:

[code]

but still have this in response:
[code]

Can anybody help, why exceptions as `ActionController::UnknownFormat`, `ActionDispatch::Http::Parameters::ParseError`, and other handles well, but `JWT::DecodeError` doesn't. Thanks!

[2022-01-14 05:42] waiting-for-dev commented on #234
Probably that's because the exception is raised in a Rack middleware before reaching the Rails stack. You can try to debug your issue around this line https://github.com/waiting-for-dev/warden-jwt_auth/blob/09c78d747cab802180e4d93a14cc33cf313e27d0/lib/warden/jwt_auth/strategy.rb#L20.

[2022-01-14 18:13] tobiasz-p commented on #234
I've got the same problem on Rails 6.1.4

[2022-01-17 14:21] coins-black commented on #234
solved by adding custom middleware
thanks

[2022-01-17 14:21] #234 closed

[2022-01-17 16:40] tobiasz-p commented on #234
@coins-black Could you share your solution?

[2022-01-18 14:07] coins-black commented on #234
`lib/middleware/catch_rack_errors.rb`

[code]

`config/application.rb`

[code]

[2022-01-19 04:07] waiting-for-dev commented on #231
It was an issue with dry-configurable. Please, update to devise-jwt 0.9.0.

[2022-01-19 12:46] chrisgeek commented on #231
@maysam, It wasn't a devise issue.

[2022-01-21 16:48] arpu opened #235 "Rails 7.0.1 with disabled Sessionstore ctionDispatch::Request::Session::DisabledSessionError (Your application has sessions disabled. To write to the session you must first configure a session store):"
Hey,

anything i miss on the update? any hint is welcome
updated from rails 6 to rails 7.01

## Debugging information
[code]

[2022-01-22 12:11] arpu commented on #235
https://github.com/heartcombo/devise/issues/5443

[2022-01-22 14:57] arpu commented on #235
found some more infos to this problem
https://github.com/rails/rails/pull/42231

[2022-01-24 05:03] waiting-for-dev commented on #235
It looks like a devise issue, right? I'll keep it open until it's fixed on their end. Thanks for the references.

[2022-01-31 14:36] HussainNiazi120 commented on #37
Saved my day

[2022-02-04 18:38] russellbrown commented on #235
@arpu I ran into the exact same problem and I found it was related to the `:timeoutable` module being included in the devise  method in the model.  I just removed it and the error didn't happen any more.

[2022-02-08 20:03] arpu commented on #235
Hey @russellbrown  can you point me to the code line?

[2022-02-08 20:18] russellbrown commented on #235
@arpu Sure, I just removed `:timeoutable` from the model I'm authenticating (in my case User):

[code]

... and the error disappeared.  I had only included `:timeoutable` as standard based on previous projects but I realised JWT expires the tokens anyway so I didn't really need Devise's implementation.

Hope that helps!

[2022-02-11 01:23] cchoi94 commented on #235
@russellbrown I don't have `:timeoutable` included however i'm still getting this error. This is how my user model looks like

[code]

Thanks

[2022-02-12 00:21] mein-beer-hu opened #236 "[Question] How do I properly support both no-format and .json in url?"
Hello,
I am using devise + devise_jwt
I am having trouble understanding the right way to support both the formats in url. I did read through the section of "supporting
`request_formats` here: https://github.com/waiting-for-dev/devise-jwt#request_formats

I have the following setup in my `devise.rb` (initializer folder)
[code]

## Expected behavior

Support `.json` in url as well as no formats

##

[2022-02-12 18:31] russellbrown commented on #235
@cchoi94 Oh ok, I don't know then, I just know it worked for me.  What if you try removing rememberable?  It uses cookies so that may also be causing the sessions issue.  I know I had rememberable in my devise method but I also override devise's SessionsController so that may have bypassed it.

[2022-02-12 18:35] cchoi94 commented on #235
@russellbrown thanks for getting back. Apologies I ended up moving ahead and although this is not a solution, I got everything to behave correctly by downgrading my rails to v6 rather v7.

On another note, I also just changed my working devise to an m1 pro, so not sure if the shift in os may be a contributor to the issue.

[2022-02-14 04:34] waiting-for-dev commented on #236
Your configuration seems correct in that regard, make sure devise is well set up for an  API: https://github.com/waiting-for-dev/devise-jwt/wiki/Configuring-devise-for-APIs

[2022-02-14 23:11] KidA001 commented on #37
Mine also worked after setting  `dispatch_requests` and `revocation_requests` in config/initializers/devise.rb - Don't fully understand why this is necessary. I'm on Rails 7.0.2.2

[2022-02-15 04:12] mein-beer-hu commented on #236
One more difference from there is

[code]

This is how my routes look like. Maybe I should add `{ defaults: :json }`

[2022-02-18 09:27] waiting-for-dev commented on #236
Did you go through all the guides I linked before? One common issue is overriding controllers beyond making them recognizable by Devise.

[2022-02-21 19:07] mein-beer-hu commented on #236
Yes, I think I also observed that its only the `logout` path thats partially failing when invoked without `.json`. For rest of the controllers, with/without json in URL is not causing any issues

[2022-02-26 19:39] cesarjr opened #237 "JWT::DecodeError when a small token is used at session#destroy"
Hi!

When I send an small and invalid token to Devise's sessions#destroy it is logging this:

[code]

If I do the same experience in a regular controller it process correctly and I receive a json like this:

[code]

I tried many things before writting here, but now I don't have anything else to try.

I'd love that sessions#destroy could behave like the others regular controllers.

Does anyone have

[2022-03-04 14:17] hafsabatool7 opened #238 "Auto removal of expired jwt token from AllowList table"
## Expected behavior
When a token is expired on the basis of expiry time configured, it should be also be removed from AllowList table. Maybe a functionality of the sort that when a revoked token is identified in `jwt_revoked?`, it removes the expired token.

## Actual behavior
Upon accessing a revoked token (expired), the invalid token is not removed from the AllowList table.

## Debugging inform

[2022-03-06 06:54] ITDevMohsin opened #240 "Can't get JWT token when using devise and JWT for reset password feature"
When I try to reset a password for the Rails API project, it does not send back the JWT token when I successfully change the password.

Everything is working fine and I get an Authorization Code for the signup process and even on the sign-in process without any problem but on the password reset/update feature, I never get an Authorization token upon successful password updation.

Steps:

1. The us

[2022-03-07 12:14] waiting-for-dev commented on #238
Hey, that's something that makes sense, but it's out of the scope of this library. Users should create their cleaning tasks, which can vary a lot depending on their preferences.

[2022-03-07 12:14] #238 closed

[2022-03-07 12:16] waiting-for-dev commented on #240
It looks like you're overriding the controller too much. If you're not calling warden authentication stuff, `devise-jwt` has no way to hook into it and add the token. Please, see https://github.com/waiting-for-dev/devise-jwt/wiki/Configuring-devise-for-APIs#overwriting-controllers

[2022-03-07 12:38] ITDevMohsin commented on #240
@waiting-for-dev I am overriding because I have all these use-cases. Also, for authentication, I am using warden authentication obviously.
Here is the code for it:

[code]

What else I need to do in this case? Can you please point it out? Thanks!

[2022-03-08 05:51] waiting-for-dev commented on #240
@ITDevMohsin I'm referring to the `Api::V1::Patients::PasswordsController` you pasted above. It seems you're bypassing sign in. See https://github.com/heartcombo/devise/blob/451ff6d49c71e543962d2b29d77f2e744b2d47e1/app/controllers/devise/passwords_controller.rb#L43

[2022-03-08 08:24] ITDevMohsin commented on #240
@waiting-for-dev Thanks for the input.
I tried below and no error showed up nor a token with success call.
[code]
<img width="1123" alt="Screenshot 2022-03-08 at 1 18 29 PM" src="https://user-images.githubusercontent.com/21135288/157195476-1ac4269a-98cb-42f5-ac34-499da7c00628.png">

I tried:
[code]
and response was like that:

<img width="1036" alt="Screenshot 2022-03-08 at 1 21 25 PM" src="https:

[2022-03-08 08:27] waiting-for-dev commented on #240
It seems you have an error on that request . Look at the `NoMethodError` line on the response screenshot.

[2022-03-08 09:56] ITDevMohsin commented on #240
Thanks for your all input!
Nothing seems to work for me and I even fixed the `NoMethodError`.
I am going for some other solution now.

[2022-03-08 10:12] waiting-for-dev commented on #240
:+1: closing for now, let me know if you need more help

[2022-03-08 10:12] #240 closed

[2022-03-08 16:22] cesarjr commented on #237
Hi @waiting-for-dev !

Only this:

[code]

Should I have one for `JWT::DecodeError`? I thought doing it before, but this solution but it sounded to me a little bit weird 😬.

[2022-03-09 04:53] waiting-for-dev commented on #237
Probably both requests are going through different controller's paths ("regular" through `ApplicationController`; sessions through Devise). You should try to spot the piece that makes that difference in behavior and probably does a minimalistic override of Devise's one. However, that's not an issue on `devise-jwt`, which doesn't mess with controllers in any way. I think you'll be better off asking

[2022-03-09 04:53] #237 closed

[2022-03-17 13:19] cesarjr commented on #234
I had the same problem and this solution worked for me.

It seems that it is a common problem. Dou you think this solution could be provided natively by `devise-jwt`? Does it make sense?

[2022-03-17 17:09] cesarjr commented on #234
Actually I'm not sure if it was introduced recently because I'm using Rails 6 before having devise-jwt. I'm sorry. 😕

[2022-03-20 20:46] neizvestnost commented on #233
@maqsudinamdar override `resource_name` method in registration controller. By default it takes your controller path as a resource. So now it looks like `api_v1_user`. And it tried to fetch params with this key. But params contains another hash which called `user` for registration. So you need to override method to be like that:

  `def resource_name`
        `   :user`
  `end`

[2022-04-13 06:08] ror-vs opened #242 "Devise Resource not Authenticated"
I am using devise-jwt gem for token-based authentication for multiple resources. The problem that I am facing is that, even without providing the emails and password for the resource, the resource is logged  in without authenticating.

Expected behavior

the resource should be authenticated before login

 Actual behavior

the resource is logged in without authentication

In devise.rb initializer I

[2022-04-13 06:35] waiting-for-dev commented on #242
Probably related to https://github.com/waiting-for-dev/devise-jwt#session-storage-caveat

[2022-04-13 06:51] ror-vs commented on #242
it worked. Thanks

[2022-04-13 08:00] ror-vs commented on #242
is there a way we can create the custom token for the resources which are not being created from devise?
my test case is I am decoding the info from google token and then saving it backend. is it possible to create a token for it?

[2022-04-14 12:27] waiting-for-dev commented on #242
No, this is an extension for Devise. Probably you'll need to manually do something with https://github.com/jwt/ruby-jwt

[2022-04-14 12:27] #242 closed

[2022-05-04 02:07] TaylorBrysonRouse commented on #235
@russellbrown @cchoi94 seems that you have moved on, but got my session storage to work on 7.0.2.4 by putting following code in `config/application.rb`

(https://www.youtube.com/watch?v=PqizV5l1yFE @ 10:40 (references following ruby documentation: https://api.rubyonrails.org/v6.0.3.3/classes/ActionDispatch/Session/CookieStore.html#method-c-new))

[code]

[2022-05-09 19:43] cesarjr commented on #12
The patch above worked for me. Does anyone know if it is still going to be solved in Devise?

[2022-05-22 10:25] srikanthreddy919 opened #243 "Devise Resource not Authenticated and Authorization header missing"
## Devise Resource not Authenticated and Authorization header missing

## Expected behavior
Authentication should work
Authorization header should be present in the response header which is missing

## Actual behavior
Authentication not working
Authorization header missing in the response headers

## Steps to Reproduce the Problem

My repo:
https://github.com/srikanthreddy919/test-devise-jwt

## D

[2022-05-24 02:20] waiting-for-dev commented on #243
Hey, it seems you're missing [configuring the secret key](https://github.com/waiting-for-dev/devise-jwt#secret-key-configuration).

[2022-05-24 03:02] srikanthreddy919 commented on #243
@waiting-for-dev  I am able to

[2022-05-24 03:03] #243 closed

[2022-05-24 23:11] pribadi1st opened #244 "How to Avoid Session storage caveat"
Hi, i want to ask how to avoid the session storage caveat,
i'm building two different project and i use Rails purely for API only. (rails new new-project --api).

i tried following disable session storage caveat section but no result.

## Expected behavior
i want my postman to return an 401 error when there is no authorization header

## Actual behavior
I use postman to test /current_user without

[2022-05-25 14:53] waiting-for-dev commented on #244
Hey! If you're using `--api` flag, then your session is disabled, so you're not affected by the caveat.

If the token is not present, the JWT strategy will be skipped from the warden cascade. See https://github.com/waiting-for-dev/warden-jwt_auth/blob/09c78d747cab802180e4d93a14cc33cf313e27d0/lib/warden/jwt_auth/strategy.rb#L11 and also https://github.com/wardencommunity/warden/wiki/Strategies for

[2022-05-27 08:17] pribadi1st commented on #244
hi, I'm sorry if I ask too much, I'm still new to rails.
so based on my understanding, if I want to check if the header has authorization or not, do I have to fiddle with the warden's strategies?

[2022-05-27 08:58] waiting-for-dev commented on #244
Hey @pribadi1st, no worries for the asking.

Why do you need to directly check whether the header is present? This should be done transparently by `devise-jwt` as part of its strategy for `warden`.

[2022-06-09 09:59] emmanuelkamala commented on #235
Thanks, this worked!

[2022-06-14 17:12] glundgrenm opened #245 "Session Store Caveat Solution?"
Hello, i am on Rails 6.1.4, ruby 2.7.4, devise 4.8.1, devise-jwt 0.9.0

Regarding the Session Store Caveat, the docs recommendations are not working at all. The only way i managed to disable the cookie being set with the user session (both on sign_in and sign_up) was:

1.  Adding `protect_from_forgery with: :null_session` to application_controller.rb
2. Making sure that the sessions_controllers.rb

[2022-06-15 13:51] agiratech-saranrajg commented on #235
ActionDispatch::Request::Session::DisabledSessionError (Your application has sessions disabled. To write to the session you must first configure a session store):

app/controllers/admin/sessions_controller.rb:16:in `create'

same error after also session configuration in application.rb

[2022-06-22 05:23] waiting-for-dev commented on #245
Not sure. However, if you don't need cookies you can disable session storage altogether.

[2022-06-25 17:36] pribadi1st opened #247 "[Question] Does the login function add jti value on existing database ?"
Hi i already have a database with rails API, and want try to implement devise jwt.
my question is, if i already have a database with null value on jti column, does devise-jwt automatically update and fill the jti column if its null ? because on sign up function, the jti column is filled with the expected result

## Expected behavior
JTI column is updated when user log in using existing data before

[2022-06-26 08:11] waiting-for-dev commented on #247
Yes, it should also be updated in login. Are you sure you are requesting against `/login`?

[2022-06-26 10:03] pribadi1st commented on #247
yes, i do receive the token on the header,

i read on https://www.rubydoc.info/gems/devise-jwt/0.4.0 documentation, that if we already have our own database records, we have to create a migration to update the data first, so it wont be a null value.

<img width="1115" alt="image" src="https://user-images.githubusercontent.com/26956664/175809095-84bbe1e2-6937-4eed-8727-78077f42c7a6.png">

so should

[2022-06-26 17:14] waiting-for-dev commented on #247
We recommend setting an initial random `jti` value in the column so that you can add a `NOT NULL` index in the database. But that's not required for the logic at the application layer.

It'd be great if you could paste all the debugging information we ask when you open an issue. It'll be easier to help you.

[2022-06-26 20:26] pribadi1st commented on #247
sure i'd love to, but i'm not sure which one should i debug.

<img width="1434" alt="image" src="https://user-images.githubusercontent.com/26956664/175832245-0d6d158c-d8f4-4066-88e5-e9c8bc716824.png">
- this one above is when user hit the /login end point

- Version of `devise-jwt` in use: 0.9.0
- Version of `rails` in use: rails 7.0.0
- Version of `warden-jwt_auth` in use: Devise::JWT.config
- ou

[2022-06-27 04:11] waiting-for-dev commented on #247
Thanks. Looks legit. Could you paste your user model code (at least the relevant part for `devise-jwt`?

[2022-06-27 06:53] pribadi1st commented on #247
here is my user model
<img width="631" alt="image" src="https://user-images.githubusercontent.com/26956664/175877475-d522c6ef-14d3-416d-aa8f-838518cfbe0a.png">

hope it helps

[2022-06-27 07:25] waiting-for-dev commented on #247
Yeah, it looks ok. I'm out of suggestions at this point. If you can create a repository reproducing the issue with a minimal setup, I'll happily look into it.

[2022-06-29 11:32] ook commented on #207
@waiting-for-dev Your answer is perfect. I recommand to add it into the README.md under a "how JWT works" or at least a link to this issue 👍🏻

[2022-06-30 16:51] #247 closed

[2022-07-09 04:21] jeremylynch commented on #126
Please see this fork of devise-jwt: https://github.com/scarhand/devise-jwt-cookie

It is not clear if this gem support cross-domain JWT cookie. https://github.com/scarhand/devise-jwt-cookie/issues/11

[2022-08-14 16:58] oyenmwen commented on #235
**Workaround** if you do not want to enable `session_store` and set it to cookie:

#### controller/concerns/rack_session_fix.rb
[code]
#### controller/registrations_controller.rb
[code]

- https://onlyabug.com/issue/disabledsessionerror-on-registration-5473
- https://github.com/heartcombo/devise/pull/5474/files

[2022-08-15 16:23] isaka-lumato commented on #235
Bro nmekutana nayo hii kitu pia, mbn sikupati kwa simu kaka

[2022-09-13 14:35] democlitos commented on #245
I'm experiencing the same issue.

Rails 6.1.6.1, ruby 2.7.5, devise 4.8.1, devise-jwt 0.9.0

[2022-09-13 15:11] democlitos commented on #245
As I can't disable cookies entirely, for the sessions controller my solution was to disable session through warden store option:

[code]

And as for the ```sign_up``` action, I had to override the ```sign_up``` method:

[code]

But I'm not sure if this is the best aproach.

[2022-10-26 13:55] sang-4 commented on #235
This worked for me
[code]

[2022-11-07 10:14] flov commented on #203
Thank you so much! That helped me solve the same issue!
[My CI pipeline is finally working](https://github.com/flov/hitchlog-api/actions/runs/3409375362/jobs/5671066219). Also I managed to run the github actions workflow locally and reproduce the failed tests locally with [act](https://github.com/nektos/act). Since services aren't supported in act, I had to install postgres locally (only for act).

[2022-11-09 02:11] min-verse commented on #130
Maybe I'm two years and one pandemic too late, but were you able to confirm this? Working on a Rails 6 API with devise-jwt for auth and a separate React frontend

[2022-11-09 04:35] KyleRAnderson commented on #130
I ended up switching to cookie based authentication since it seemed to match my primarily browser use case better @min-verse, so I didn't get a chance to try out that solution.

[2022-11-12 18:04] janosrusiczki opened #254 "Not getting the JWT token when signing in via a graphql-ruby mutation"
## Expected behavior

I would like to get the JWT token when signing in via a GraphQL mutation.

## Actual behavior

Not getting the token. 😢

## Steps to Reproduce the Problem

I am using [graphql-ruby](https://github.com/rmosolgo/graphql-ruby) and the mutation's implementation looks like this:

[code]
I tried adding `sign_in(:user, user)` before the `user` line but I'm getting an "undefined loca

[2022-11-17 20:08] janosrusiczki commented on #254
Don't want to be pushy but I would really appreciate any ideas or guidance with this. It seems to me that this gem is the cleanest way towards JWT tokens via Devise in a Rails app. But I want to issue the tokens from a GraphQL mutation. :wink:

[2022-11-18 04:38] waiting-for-dev commented on #254
Yeah, you're not going through the Devise path, so it's probably not going to work. You can use bare ruby-jwt, or leverage somehow warden-jwt_auth. Take a look at how it's done there. You could do the same or similar manually, as warden hooks are not run in your case: https://github.com/waiting-for-dev/warden-jwt_auth/blob/master/lib/warden/jwt_auth/hooks.rb

[2022-11-21 21:53] janosrusiczki commented on #254
I actually made it work! :smile:

It's more of a tweaking graphl-ruby type of solution. No monkey patching though.

In GraphQL controller you have to add Devise's `sign_in` method to the `context` like so:

[code]

Then you can call the method in your mutation:

[code]

Don't forget to add your GraphQL endpoint to the list of JWT token dispatchers / revocators in Devise's initializer:

[code]

[2022-11-22 04:25] waiting-for-dev commented on #254
Happy to know!! 🙂 🚀  Can this issue be closed, now?

[2022-11-22 19:44] janosrusiczki commented on #254
@waiting-for-dev spoke too soon. Everything worked well until I started implementing sign_out.

And I uncommented the:

[code]
part in `config/initializers/devise.rb`.

Now I can sign_in, I get an "Authorization" header, I use the token for the next page, I get authenticated, I receive a new token, I use it for the next page, but I don't get authenticated anymore and I don't receive a new token.

[2022-11-23 04:57] waiting-for-dev commented on #254
Oh, yeah, that might cause conflicts for sure 😆 You're probably better of creating and revoking the tokens by yourself.

[2022-11-23 07:35] janosrusiczki commented on #254
I will investigate these days and report back, please keep the issue open.

[2022-11-30 08:42] janosrusiczki commented on #254
I finally had the chance to take a look at this issue and I have a solution in mind.

I think it would be possible to add a third _optional_ parameter to the `dispatch_requests` and `revocation_requests` tuples to inspect the request body for a specific string. In my case, with GraphQL, even though all requests go to POST /graphql, if I'd add a third parameter like `signIn` for `dispatch_requests`